Pinecone Upload Workflow.json
{
  "name": "Pinecone Upload Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pinecone-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dd077590-84d3-4259-bbf5-d2846278e682",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "pinecone-upload-webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.item.json.body || $input.item.json;\nconst files = body.files || [];\nconst namespace = body.namespace || 'default';\n\nif (!Array.isArray(files) || files.length === 0) {\n  throw new Error('files array is required. Format: {\"files\": [{\"fileName\": \"test.txt\", \"text\": \"content...\"}], \"namespace\": \"default\"}');\n}\n\nreturn files.map(file => ({\n  json: {\n    fileName: file.fileName || 'unknown.txt',\n    text: file.text || file.content || '',\n    source: (file.fileName || 'unknown').replace('.txt', ''),\n    namespace: namespace\n  }\n}));"
      },
      "id": "21ceee82-debd-47e1-a4fe-9fa2d394ce9b",
      "name": "Parse Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const inputItem = $input.item;\nconst inputData = inputItem.json || {};\n\nconst text = inputData.text;\nconst source = inputData.source || inputData.fileName || 'unknown';\nconst namespace = inputData.namespace || 'default';\n\nif (!text || typeof text !== 'string') {\n  throw new Error(`Text field is required. File: ${source}`);\n}\n\nconst chunkSize = 600;\nconst overlap = 100;\nconst chunks = [];\nlet index = 0;\n\nfor (let i = 0; i < text.length; i += chunkSize - overlap) {\n  const chunk = text.slice(i, i + chunkSize);\n  if (chunk.trim().length > 0) {\n    chunks.push({\n      id: `chunk_${source}_${Date.now()}_${index}`,\n      text: chunk,\n      chunk_index: index,\n      source: source\n    });\n    index++;\n  }\n}\n\nreturn [{\n  json: {\n    chunks: chunks,\n    namespace: namespace,\n    source: source\n  }\n}];"
      },
      "id": "1148c5ae-f11d-4dd6-a3bc-343ea73c3c31",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const chunks = $input.item.json.chunks;\nconst texts = chunks.map(chunk => chunk.text);\n\nreturn [{\n  json: {\n    texts: texts,\n    chunks: chunks\n  }\n}];"
      },
      "id": "cd9d0c85-5f36-4654-9864-8bbc2ca599e5",
      "name": "Prepare Batch",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"openai/text-embedding-3-large\",\n  \"input\": $json.texts,\n  \"dimensions\": 3072\n} }}",
        "options": {}
      },
      "id": "35a3d699-24e0-48a8-8a61-a077aae7cf19",
      "name": "Get Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NdaefQxIn87hW0dO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const embeddingsResponse = $input.item.json;\nconst chunks = $('Prepare Batch').item.json.chunks;\nconst namespace = $('Chunk Text').item.json.namespace;\n\nif (!embeddingsResponse.data || !Array.isArray(embeddingsResponse.data)) {\n  throw new Error('Invalid embeddings response');\n}\n\nconst vectors = embeddingsResponse.data.map((item, index) => ({\n  id: chunks[index].id,\n  values: item.embedding,\n  metadata: {\n    text: chunks[index].text,\n    source: chunks[index].source,\n    chunk_index: chunks[index].chunk_index\n  }\n}));\n\nreturn [{\n  json: {\n    vectors: vectors,\n    namespace: namespace,\n    vectorsCount: vectors.length\n  }\n}];"
      },
      "id": "8f0527a0-20f3-4038-a333-79586a0c1e85",
      "name": "Format for Pinecone",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rag-demo-index-k6wh4mm.svc.aped-4627-b74a.pinecone.io/vectors/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"vectors\": $json.vectors,\n  \"namespace\": $json.namespace\n} }}",
        "options": {}
      },
      "id": "d47fdadc-7192-47be-abe1-4fddf3c5391a",
      "name": "Upsert to Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1328,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EsoO5K31E5RA1d29",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const allUpsertResponses = $input.all();\nlet totalUpserted = 0;\nconst fileResults = [];\n\nallUpsertResponses.forEach((item, index) => {\n  const response = item.json;\n  const upsertedCount = response.upsertedCount || 0;\n  \n  totalUpserted += upsertedCount;\n  \n  fileResults.push({\n    fileIndex: index + 1,\n    upserted: upsertedCount\n  });\n});\n\nconst filesProcessed = $('Parse Input').all().length;\n\nreturn [{\n  json: {\n    status: 'success',\n    totalFiles: filesProcessed,\n    totalUpserted: totalUpserted,\n    fileResults: fileResults\n  }\n}];"
      },
      "id": "315ea78b-6e8e-44fd-af14-ed71b470d486",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "0bbb9fc1-4557-4246-a498-24d780bc5a3c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-type": "application/json",
            "content-length": "444533"
          },
          "params": {},
          "query": {},
          "body": {
            "files": [
              {
                "fileName": "food_wine.txt",
                "text": "Блюдо, к которому надо подобрать вино: Баклажаны, запеченые с сыром\nВино, которое подходит к этому блюду: Красное вино: «среднетелые»* сухие — Гренаш (Гарнача), Санджовезе (Кьянти), Карменер, Менсия, молодые Темпранильо, легкотелое Мерло.\n\nБлюдо, к которому надо подобрать вино: Баранина деликатесная (филе или каре ягненка)\nВино, которое подходит к этому блюду: Красное вино: сухие выдержанные вина из винограда Пино Нуар, Менсия, Неббиоло (в том числе элегантные выдержанные Бароло и Барбареско), Гамэ (элегантные бургундские Божоле Виляж).\n\nБлюдо, к которому надо подобрать вино: Баранина пикантная: жареная, гриль, тушеная — со специями\nВино, которое подходит к этому блюду: Красные вина: сухие вина из винограда Каберне Совиньон, «ронские» ассамбляжи Гренаш+Сира+Мурведр, французский Мальбек, немного «скругленная» Барбера, Сира (Шираз). Выдержанные вина из Санджовезе (Кьянти Классико, вина Монтальчино), Альянико, «супертосканские»* вина, добротные Crianza Риохи. Примитиво и Зинфандель. Саперави из России.\n\nБлюдо, к которому надо подобрать вино: Бефстроганов\nВино, которое подходит к этому блюду: Белые вина: выдержанные в дубе Шардоне, Пино Гриджо (лучше — из Северной Италии), Вердехо, Верментино. Не очень мощные по вкусе и ароматике и кислотности (и недорогие) Рислинги.\n\nБлюдо, к которому надо подобрать вино: Блинчики с мясом говядина\nВино, которое подходит к этому блюду: Крепкие напитки: Водка, Полугар, Хреновуха.  Также — Красные вина: итальянские из Санджовезе (Кьянти), «бордосский» бленд (), «ронский» ассамбляж Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Блинчики с мясом курятина\nВино, которое подходит к этому блюду: Крепкие напитки: Водка, Полугар, Хреновуха. Также можно пить Белые вина: из винограда Шардоне, Вердехо, Верментино, Треббьяно, Пино Гри, сухие Хересы.\n\nБлюдо, к которому надо подобрать вино: Блины с красной рыбой или икрой\nВино, которое подходит к этому блюду: Крепкие напитки: Водка, Полугар, Хреновуха. Белые вина: из винограда Рислинг, Альбариньо, сухой Мускат или Гевюрцтраминер, сухой Херес.\n\nБлюдо, к которому надо подобрать вино: Борщ\nВино, которое подходит к этому блюду: Крепкие напитки: Самогон (Полугар, Хлебное вино), Водка, Хреновуха.\n\nБлюдо, к которому надо подобрать вино: Говядина жареная, тушеная (кроме мраморных стейков)\nВино, которое подходит к этому блюду: Красные вина: сухие вина из винограда Санджовезе (Кьянти) и Неро д’Авола, испанские Темпранильо, «тельные» Мерло, «тельные» Пино Нуары (из Нового Света, Австрии, Германии), вина из Бордо, вина из Роны (Гренаш+Сира+Мурведр), Саперави (как из Грузии, так и из России), Арени (Армения).\n\nБлюдо, к которому надо подобрать вино: Грибы лесные, благородные — жареные, тушеные\nВино, которое подходит к этому блюду: К средневкусным — Белые вина: сухие и полусухое выдержанные Шардоне, Вионье, сухой Гевюрцтраминер. К более пикантным — Красные вина: сухие вина из винограда Пино Нуар, Нерелло Москалезе, выдержанное и бархатистое Неббиоло.\n\nБлюдо, к которому надо подобрать вино: Грибы деликатесные (шампиньоны, лисички и пр.)\nВино, которое подходит к этому блюду: Белые вина: сухие и полусухое выдержанные Шардоне, Вионье, сухой Гевюрцтраминер (к лисичкам, шампиньонам в сливках). Розовые вина: тихие и Игристые (особенно из Пино Нуара).\n\nБлюдо, к которому надо подобрать вино: Жульен с грибами\nВино, которое подходит к этому блюду: Красные вина: сухие из винограда Пино Нуар, Менсия, Нерелло Москалезе, выдержанное и бархатистое Неббиоло. Розовые вина: среднетелые и полнотелые из винограда Гренаш, Сенсо, Темпранильо, Бобаль, Сира, или «тельные» розовые Игристые.\n\nБлюдо, к которому надо подобрать вино: Заливное — белая рыба\nВино, которое подходит к этому блюду: Крепкие напитки: Водка, Полугар, Хреновуха. Как вариант — Белые вина: Альбариньо, Вердехо, Совиньон Блан, Мюллер Тургау, Рислинг.\n\nБлюдо, к которому надо подобрать вино: Икра красная на крекерах, белом хлебе\nВино, которое подходит к этому блюду: Белые вина: тихие, капельку сладковатые и выдержанные Пино Гриджо, Пино Блан, Шенен Блан, Вионье, Семийон, Гарганега (Соаве). Утонченные вина из Шардоне (в стиле Шабли).\n\nБлюдо, к которому надо подобрать вино: Икра черная на крекерах, белом хлебе\nВино, которое подходит к этому блюду: Несмотря на распространенные советы, сочетать черную икру с винами тихими и особенно — игристыми, не рекомендую. Однако, если очень хочется потреблять черную икру со спиртным, то мой вам совет — сначала, глоток Водки или любого иного невыдержанного в дубе Дистиллята, а уже потом — закусить чистой икрой или бутербродом с ней.\n\nБлюдо, к которому надо подобрать вино: Индейка (стейки, котлеты, шашлычки)\nВино, которое подходит к этому блюду: Белые вина: сухое и полусухое выдержанное из винограда сортов Шардоне, Вердехо, Верментино, Семийон, Пино Гри, Шенен Блан. Также подойдут «среднетелые» Розовые вина или Оранжи.\n\nБлюдо, к которому надо подобрать вино: Каре ягненка\nВино, которое подходит к этому блюду: Красные вина: «среднетелые» вина со сбалансированной кислотностью — хорошо выдержанные «супертосканские» вина, Брунелло ди Монтальчино, Кьянти Ризерва, округлые и сочные вина из Неро д’Авола, не слишком тельные вина из Сиры (Шираза), резервные вина из Риохи, добротно сделанные Гарнача и Барбера, «тельные» Пино Нуары (из Нового Света, Австрии, Германии), созревшие и отлично сбалансированные вина Бордо и Пьемонта (в том числе Бароло и Барбареско), выдержанное Арени (Армения).\n\nБлюдо, к которому надо подобрать вино: Картофель жареный, фри\nВино, которое подходит к этому блюду: Белые вина: выдержанные вина из Вердехо, Верментино, Пино Гри, Грюнер Вельтлинера, Сильванера, Семийона, Шардоне. Как вариант — светлое пиво\n\nБлюдо, к которому надо подобрать вино: Киш с разными начинками\nВино, которое подходит к этому блюду: см. Пирог\n\nБлюдо, к которому надо подобрать вино: Колбаски и сосиски — гриль (пикантные)\nВино, которое подходит к этому блюду: Пиво: светлое или темное, плотноватое — как лагеры, так и эли. Как вариант — невыдержанные и не очень дорогие Красные вина: из сорта Санджовезе (Кьянти) и Неро д’Авола, Темпранильо (Испания), Мерло (со всего света), Блауфранкиш, Цимлянский Черный, Саперави (Россия), Каберне Совиньон. Недорогие варианты ассамбляжей из Бордо.\n\nБлюдо, к которому надо подобрать вино: Креветки в темпуре\nВино, которое подходит к этому блюду: Белые вина: с легкими (сливочными и т.д.) соусами  — тихие вина из винограда Пино Гри, Шенен Блан, Кортезе (Гави), Пино Блан, Гренаш Блан невыдержанные в дубе Шардоне (типа Пти Шабли и т. д.). С пикантными и острыми соусами — Альбариньо, Совиньон Блан, яркий Рислинг, сухие Гевюрцтраминер или Мускат. Неплохо пойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Крем-суп из белых грибов\nВино, которое подходит к этому блюду: Белые вина: выдержанное Шардоне, сухой Мускат или Гевюрцтраминер. Розовые вина: широкий диапазон тихих вин из Прованса (Франция), Италии, Испании и т. д. Как вариант — Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Крем-суп овощной\nВино, которое подходит к этому блюду: Белые вина: легкие вина из Вердехо, Верментино, Пино Гри, Мюллер Тургау, Грюнер Вельтлинер, Сильванер. Молодые вина из Шардоне. Если в супе много пикантных овощей (томаты, баклажаны) — «тельные» Розовые вина либо очень легкие Красные вина (Пино Нуары и т. д.)\n\nБлюдо, к которому надо подобрать вино: Крудо из белой рыбы\nВино, которое подходит к этому блюду: Белые вина: тихие и легкие вина из винограда Пино Гри, Шенен Блан, Кортезе (Гави), Пино Блана, Фиано, невыдержанные в дубе легкие Шардоне (типа Пти Шабли и т.д.), легкие варианты Рислинга, Мюллер Тургау, Грюнер Вельтлинера. Совиньон Блан (старосветского стиля — типа Сансера)\n\nБлюдо, к которому надо подобрать вино: Куриная грудка — гриль в специях\nВино, которое подходит к этому блюду: Белые вина: сухие Гевюрцтраминеры и Мускаты, выдержанные в дубе Шардоне, полнотелые Рислинги. Розовые вина: широкий диапазон вин из Прованса (Франция), Италии, Испании и т. д. Зависит от пикантности (степени зажарки и специй).\n\nБлюдо, к которому надо подобрать вино: Курица пикантная — Азиатская кухня (цитрусовый или кисло-сладкий соус)\nВино, которое подходит к этому блюду: Белые вина: яркий и «тельный» (возможно полусухой) Рислинг, сухой Гевюрцтраминер или Мускат, Торронтес. Вина Чаколи из Страны Басков.\n\nБлюдо, к которому надо подобрать вино: Курица-гриль\nВино, которое подходит к этому блюду: Розовые вина: полнотелые сухие и полусухие вина из Франции, Италии, Испании, России и т.д. Красные вина: не очень дорогие вина из: Пино Нуара, Менсии, Гарначи (Гренаш), элегантные вина из Мерло и Каберне Фран. Полусладкое грузинское Саперави (Киндзмараули). Российские вина из Красностопа.\n\nБлюдо, к которому надо подобрать вино: Лагман\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Лазанья мясная\nВино, которое подходит к этому блюду: Красные вина: сухие вина из Санджовезе (Кьянти), Гарначи (Гренаш), невыдержанные из Темпранильо, молодые вина Бордо с доминантой Мерло. Российские вина из Мерло и Каберне Франа.\n\nБлюдо, к которому надо подобрать вино: Лазанья овощная\nВино, которое подходит к этому блюду: Розовые вина: полнотелые сухие (и даже — полусухие) вина из Прованса (Франция), Италии, Испании, России. Красные вина: легкие и элегантные — из Нерелло Маскалезе, Пино Нуара (берите не очень дорогие вина Нового Света, немецкие или австрийские), если найдете — элегантно сделанное Мерло.\n\nБлюдо, к которому надо подобрать вино: Лобстер в сливочном (сырном) соусе\nВино, которое подходит к этому блюду: Белые вина: сухое элегантное вино с невысокой кислотностью из винограда Шардоне (Шабли, Мерсо), Кортезе (Гави), Вердехо, Гарганега (Соаве), Пино Гри, Пино Блан, Грюнер Вельлинер. Как вариант — миллезимные белые Игристые. При более пикантном, сырном соусе — Розовые вина: «легкотелые» варианты из Прованса и Италии.\n\nБлюдо, к которому надо подобрать вино: Люля-кебаб классика (баранина)\nВино, которое подходит к этому блюду: Красные вина: не очень дорогие вина из сортов — Санджовезе (Кьянти), Темпранильо (в том числе Crianza), Каберне Совиньон (весь мир), Сира (Шираз), Монастрель (Мурведр). Также хороши — молодые, но довольно «тельные» вина из Бордо, Арени (Армения), весомые красные Кипра и Греции (Маратефтико, Ксиномавро), Примитиво (Занфандель), российские вина из Саперави, южноафриканский Пинотаж.\n\nБлюдо, к которому надо подобрать вино: Медальоны из телятины\nВино, которое подходит к этому блюду: Красные вина: легкие и элегантные из винограда Пино Нуар, Нерелло Маскалезе, элегантно сделанное и выдержанное Мерло. Также подойдут «округлые», выдержанные варианты из сортов Неббиоло (Барбареско), Темпранильо (Рибейра дель Дуэро), Санджовезе (Кьянти Ризерва).\n\nБлюдо, к которому надо подобрать вино: Медальоны из свинины\nВино, которое подходит к этому блюду: Белые вина: сухое и полусухое выдержанное из винограда Шардоне, Вердехо, Пино Гри, Шенен Блан. Также подойдут Розовые вина: тихие «среднетелые» из Франции, Италии, Испании, России. Неплохо пойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Морепродукты жареные (гриль) — устрицы, гребешки, лобстеры, осьминоги, мидии и пр.\nВино, которое подходит к этому блюду: Белые вина: сухое и полусухое, «тельное» с хорошей кислотностью из сортов: Шардоне, Вердехо, Верментино, Рислинг, Альбариньо, Гарганега (Соаве). Розовые вина: сухие или полусухие вина Франции, Италии, Испании, Германии, России.\n\nБлюдо, к которому надо подобрать вино: Нарезка мясная деликатесная варено-копченая (в т.ч. колбаса)\nВино, которое подходит к этому блюду: Белые вина: тихие сухие (полусухие) довольно «яркие» вина со средней кислотностью из винограда сортов Шардоне, Вердехо, Верментино, Рислинг, Пино Гри. Как вариант — Игристое вино: молодое кислотноватое белое или розовое — брют или экстра-брют.\n\nБлюдо, к которому надо подобрать вино: Нарезка мясная деликатесная сыро-копченая-вяленая (в т.ч. колбаса)\nВино, которое подходит к этому блюду: Розовые Игристые вина: сухое или полусухое (недорогое, но полновкусное), Белые вина: тихие сухие Мускаты и Гевюрцтраминеры, выдержанное Шардоне и т. д. Розовые тихие вина: «среднетелое» сухое или полусухое из винограда Мурведр, Гренаш, Сенсо, Бобаль, Сира.\n\nБлюдо, к которому надо подобрать вино: Омлет с подкопченой ветчиной\nВино, которое подходит к этому блюду: Белые вина: сухое элегантное вино с невысокой кислотностью из винограда Шардоне, Кортезе (Гави), Вердехо, Гарганега (Соаве), Пино Гри, Пино Блан. Как вариант — белое или очень легкие розовое Игристые вина (брют или сухое).\n\nБлюдо, к которому надо подобрать вино: Орехи жареные, подсоленые\nВино, которое подходит к этому блюду: Пиво: как светлые лагеры, так и светлые (красные) эли. Как вариант — Белые вина: сухие и полусухие выдержанные вина из винограда сортов Шардоне, Вердехо, Верментино, Гарганега (Соаве), Ркацители (Россия и Грузия), Кангун (Армения). Также — полусладкие и сладкие белые Игристые вина.\n\nБлюдо, к которому надо подобрать вино: Оссобукко\nВино, которое подходит к этому блюду: Красные вина: сухие и полусухие Сира (Шираз), Каберне Совиньон (весь мир), Монастрель (Мурведр). Также хороши — довольно «тельные» из Арени (Армения), весомые красные Кипра и Греции (Маратефтико, Ксиномавро), российские вина из Саперави.\n\nБлюдо, к которому надо подобрать вино: Осьминог жареный (или гриль)\nВино, которое подходит к этому блюду: Белые вина: тихие вина — Альбариньо, Мюллер-Тургау, Сильванер, Рислинг, Кортезе (Гави), Грюнер Вельтлинер, Кокур и Ркацители (Россия) и т. д. Также — белые Игристые вина (экстра-брют, брют).\n\nБлюдо, к которому надо подобрать вино: Паста мясная с томатным соусом\nВино, которое подходит к этому блюду: Красные вина: сухие — вина из Санджовезе (Кьянти, Монтепульчиано), молодые Темпранильо, Барбера, «тельное» Мерло, молодые вина из Гарначи (Гренаша), Негроамаро, недорогие «ронские» ассамбляжи Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Паста с белыми грибами\nВино, которое подходит к этому блюду: Красные вина: сухие вина из винограда Пино Нуар, Менсия, Нерелло Маскалезе, элегантно сделанное Мерло. Также — вина из Гамэ (Божоле Виляж).\n\nБлюдо, к которому надо подобрать вино: Паста с морепродуктами (белый соус)\nВино, которое подходит к этому блюду: Белые вина: тихие вина — Шардоне, Верментино, Альбариньо, Гренаш Блан, Рислинг с невысокой кислотностью, Кортезе (Гави), Кокур и Ркацители  из России и т. д. Также — белые Игристые вина (экстра-брют, брют, сухое). Попробуйте довольно легкие Оранжи.\n\nБлюдо, к которому надо подобрать вино: Паста с пикантным сыром\nВино, которое подходит к этому блюду: Красные вина: сухие вина из винограда Неббиоло, Санджовезе, Негроамаро, Неро-д-Авола, а также — международных — Каберне Совиньона, «тельных» Мерло.\n\nБлюдо, к которому надо подобрать вино: Паштет Фуа-гра\nВино, которое подходит к этому блюду: Белые вина: полусухое и полусладкое выдержанное из винограда Семильон (знаменитые Сотерны). Немецкие Бееренауслезе и Айсвайны.\n\nБлюдо, к которому надо подобрать вино: Паштеты (Рийеты) рыбные\nВино, которое подходит к этому блюду: Белые вина: тихие вина из винограда Альбариньо, Мюллер-Тургау, Грюнер Вельтлинер, полусладкие Рислинги, Кортезе (Гави), Ркацители и Кокур (Россия) и др. Как вариант — белые Игристые вина (сухие).\n\nБлюдо, к которому надо подобрать вино: Паштеты (Рийеты) средневкусные (птица, свинина, печень птицы, тунец)\nВино, которое подходит к этому блюду: Белые вина: тихие сухие и полусухие вина из выдержанных винограда Шардоне, Альбариньо, Вердехо, средне-кислотные Рислинги, Ркацители (Россия) и др. Неплохо подойдет Совиньон Блан с более «тропической» вкусо-ароматикой. Как вариант — Розовые вина со средней интенсивностью и кислотностью (Италия, Испания, Франция, Россия), также — розовые Игристые вина (от брюта-натюр до сухого). Как вариант — оооочень легкие Красные вина — типа Пино Нуара и Нерелло Маскалезе (для довольно пикантного и жирноватого паштета).\n\nБлюдо, к которому надо подобрать вино: Паштеты мощновкусные (говядина, дичь)\nВино, которое подходит к этому блюду: Красные вина: сухие вина из винограда Каберне Совиньон, Мурведр (Монастрелл), Каберне Фран, «тельное» Мерло, Мальбек, вина из Бордо с доминантой Каберне Совиньона, вина из Санджовезе и Темпранильо, «ронский» ассамбляж Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Паэлья классическая\nВино, которое подходит к этому блюду: Белые вина: испанские насыщенные Альбариньо и Чаколи, также — сухие ароматические Мускат (Москатель), Гевюрцтраминер, Торронтес. Розовые игристые (лучше — Кава) — брют или экстра-брют. Розовые вина: тихие сухие или полусухие из винограда Гренаш, Сира, Мурведр\n\nБлюдо, к которому надо подобрать вино: Паэлья пикантная (с колбасой, беконом, томатами)\nВино, которое подходит к этому блюду: Красные вина: сухие вина из винограда Менсия, Гарнача, «тельное» Мерло, молодые и недорогие вина из Темпранильо, Санджовезе, также — вина из Бордо и «ронский» ассамбляж Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Пельмени, манты, хинкали (говядина, баранина)\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Как вариант — Красные вина: сухие вина из винограда Менсия, Гарнача, «тельное» Мерло, молодые и недорогие вина из Темпранильо, Санджовезе, также — вина из Бордо и «ронский» ассамбляж Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Перец болгарский с мангала\nВино, которое подходит к этому блюду: Белые вина: выдержанное среднекислотное Шардоне, полусухой Рислинг, Вердехо. Как вариант — Розовые вина: среднетельные вина с невысокой кислотностью из Франции, Италии, Испании, России. Также пойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Перец фаршированный мясом\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Как вариант — Красные вина: тельные тихие вина из Пино Нуар, Блауфранкиш, Менсия, Гарнача, «тельное» Мерло, молодые и недорогие вина из Темпранильо, Санджовезе, также — вина из Бордо и «ронский» ассамбляж Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Печень рубленая, жареная в кишке\nВино, которое подходит к этому блюду: Красные вина: сухие и полусухие яркие вина из винограда Санджовезе (Кьянти), испанские Темпранильо и Монастрель, Каберне-Совиньон и Сира (со всего света), вина из Бордо (классические ассамбляжи) и Божоле (Гамэ из Божоле Виляж), вина из Роны (Гренаш+Сира+Мурведр), Саперави (Россия), Арени (Армения).\n\nБлюдо, к которому надо подобрать вино: Пирог (Кулебяка, Киш) овощной\nВино, которое подходит к этому блюду: Белые вина: сухие и полусухие — Мюллер Тургау, Вердехо, Грюнер Вельтлинер, Совиньон Блан, Шардоне, Альбариньо, Верментино, Пино Гри и пр. Как вариант — очень легкие Розовые вина (как тихие, так и игристые). Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Пирог (Кулебяка, Киш) мясной — курица\nВино, которое подходит к этому блюду: Белые вина: выдержанные вина из винограда сортов Пино Гри, Шенен Блан, Шардоне, Вердехо, насыщенные и капельку сладковатые Рислинги. Розовые вина: широкий диапазон средне и полнотелых вин — Прованс, Италия, Испания. Как вариант — очень легкие Красные вина (из сортов — Нино Нуар, Гриньолино, Нерелло Москалезе). Подойдут Оранжи. Также возможно употребить с Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Пирог (Кулебяка) грибной\nВино, которое подходит к этому блюду: Красные вина: легкие из сортов винограда Нино Нуар, Гриньолино, Нерелло Москалезе. Очень элегантно сделанные Мерло и Каберне Фран. Как вариант — Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Пирог (Кулебяка, Киш, Самса) с говядиной, бараниной\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Как вариант — Красные вина: сухие вина из винограда Менсия, Гарнача, молодые и недорогие вина из Темпранильо, Санджовезе, также — вина из Бордо и «ронский» ассамбляж Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Пицца 4 сыра\nВино, которое подходит к этому блюду: Розовые вина: широкий диапазон средне и полнотелых сухих и полусухих вин из Франции, Италия, Испании, России. Как вариант — Красные вина: легкие вина из сортов Пино Нуар, Нерелло Маскалезе, выдержанное и «округлое» Неббиоло, а также легкое и элегантное Мерло. Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Пицца мясная легкая (птица, ветчина)\nВино, которое подходит к этому блюду: Белые вина: выдержанные вина из винограда сортов Шардоне, Вердехо, полусухие Рислинги с ярким вкусом и не очень высокой кислотностью. Розовые вина: широкий диапазон средне и полнотелых вин из Франции, Италия, Испании. Как вариант — Красные вина: легкие вина из сортов Пино Нуар, Нерелло Маскалезе, выдержанное и «округлое» Неббиоло, а также легкое и элегантное Мерло. Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Пицца «Маргарита»\nВино, которое подходит к этому блюду: Красные вина: сухие и не очень дорогие вина из винограда Санджовезе (Кьянти), Негроамаро, Неро д’Авола, немного «округлая» Барбера, Темпранильо, «тельные» Пино Нуары (из Нового Света, Австрии, Германии), Гамэ. Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Пицца мясная пикантная (с пепперони, копченостями)\nВино, которое подходит к этому блюду: Красные вина: сухие и полусухие яркие вина из винограда Санджовезе (Кьянти), Барбера, Неро-д-Авола, испанские Темпранильо и Монастрель, Каберне-Совиньон и Сира (со всего света), молодые вина из Бордо (классические ассамбляжи), Гамэ, вина из Роны (Гренаш+Сира+Мурведр), Саперави (Россия), Арени (Армения).\n\nБлюдо, к которому надо подобрать вино: Пицца с морепродуктами\nВино, которое подходит к этому блюду: Белые вина: тихие сухие с ярким и свежим вкусом: Шардоне, Рислинг, Мюллер Тургау, Вердехо, Альбариньо, Совиньон Блан (из Старого Света), и т.д. Как вариант — Игристые вина: (брют, сухое) — белые и очень легкие розовые.\n\nБлюдо, к которому надо подобрать вино: Плов узбекский\nВино, которое подходит к этому блюду: Чай: терпковатый и сладковатый — травяной или классический зеленый. Как вариант — Красные вина: полусухие вина из винограда Каберне-Совиньон и Сира (со всего света), вина из Роны (Гренаш+Сира+Мурведр), Саперави (Россия), Арени (Армения), Примитиво и Зинфандель. Вина желательно подать с температурой не ниже 23-24 градусов.\n\nБлюдо, к которому надо подобрать вино: Птица (курица, индейка) вареная\nВино, которое подходит к этому блюду: Белые вина: сухие и полусухие — Шардоне, Мюллер Тургау, Вердехо, Грюнер Вельтлинер,  Альбариньо, Верментино, Пино Гри и пр. Как вариант — очень легкие Розовые вина (как тихие, так и игристые).\n\nБлюдо, к которому надо подобрать вино: Птица (курица, индейка) жареная\nВино, которое подходит к этому блюду: Белые вина: выдержанные вина из винограда сортов Шардоне, Пино Гри, Шенен Блан, Вердехо, насыщенные и капельку сладковатые Рислинги, «ронский» ассамбляж Руссан+Марсан. Розовые вина: широкий диапазон средне и полнотелых вин — Прованс, Италия, Испания. Как вариант — легкие Красные вина (из сортов — Нино Нуар, Гриньолино, Нерелло Москалезе). Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Птица пикантная  (утка, гусь, дичь) жареная или гриль\nВино, которое подходит к этому блюду: Красные вина из сортов — Нино Нуар, Нерелло Москалезе, элегантные вина из Мерло и  Каберне Франа, Гамэ (Из Божоле Виляж), некоторые «округлые» варианты вин из Неббиоло и Гарначи.\n\nБлюдо, к которому надо подобрать вино: Равиоли мясные\nВино, которое подходит к этому блюду: Красные вина: сухие из винограда Санджовезе (Кьянти), Неро д’Авола, немного «округлая» Барбера, Неббиоло, «тельные» Пино Нуары (из Нового Света, Австрии, Германии), Гамэ. Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Равиоли рыбные\nВино, которое подходит к этому блюду: Белые вина: сухие из винограда Кортезе (Гави), Арнеис, Верментино, Альбариньо, слегка сладковатые сухие и полусухие Рислинги. Как вариант — сухие «тельные» Игристые вина (брют, сухое).\n\nБлюдо, к которому надо подобрать вино: Равиоли сыр и шпинат\nВино, которое подходит к этому блюду: Белые вина: сухие из винограда Совиньон Блан (желательно из Старого света), Грюнер Вельтлинер, Мюллер Тургау, не очень мощный Рислинг. Как вариант — Розовые вина: легкотелые вина из Франции, Италии, Испании и т.д. В том числе подойдут и игристые — розэ.\n\nБлюдо, к которому надо подобрать вино: Рагу мясное пикантное (с дичью)\nВино, которое подходит к этому блюду: Красные вина: сухие и полусухие выдержанные вина из винограда Санджовезе, испанские Темпранильо (Crianza и Reserva) и Монастрель, Каберне-Совиньон и Сира (со всего света), вина из Роны (Гренаш+Сира+Мурведр), Саперави (Россия), Арени (Армения). Как вариант — вина из Танната и Сагрантино, Цимлянского Черного .\n\nБлюдо, к которому надо подобрать вино: Рагу овощное\nВино, которое подходит к этому блюду: Белые вина: выдержанные вина из винограда сортов Шардоне, Пино Гри, Шенен Блан, Вердехо, насыщенные Рислинги, Совиньон Блан, Сухие Гевюрцтраминер и Мускат. Розовые вина: широкий диапазон «среднетелых» вин из Франции, Италии, Испании, России. Подойдут Оранжи.\n\nБлюдо, к которому надо подобрать вино: Рассольник\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Ребрышки-гриль в пикантном соусе\nВино, которое подходит к этому блюду: Темное пиво: в основном эли — стауты и портеры. Как вариант — Красные вина: сухие вина из винограда Каберне Совиньон, Мурведр (Монастрелл), Каберне Фран, «тельное» Мерло, Мальбек, вина из Бордо с доминантой Каберне Совиньона, вина из Санджовезе и Темпранильо, «ронский» ассамбляж Гренаш+Сира+Мурведр. Также — вина из Примитиво и Зинфанделя.\n\nБлюдо, к которому надо подобрать вино: Ризотто с морепродуктами\nВино, которое подходит к этому блюду: Белые вина: сухие из винограда Кортезе (Гави), Арнеис, Верментино, Альбариньо, слегка сладковатые сухие и полусухие Рислинги, выдержанные Пино Гриджо.\n\nБлюдо, к которому надо подобрать вино: Ризотто с белыми грибами\nВино, которое подходит к этому блюду: Красные вина: сухие утонченные и слегка «округлые» вина из Неббиоло (в том числе Бароло и Барбареско), Пино Нуара, Нерелло Маскалезе. Как вариант — розовые Игристые вина с глубоким вкусом (миллезимные).\n\nБлюдо, к которому надо подобрать вино: Ризотто пикантное (с беконом, с баклажанами и т.д.)\nВино, которое подходит к этому блюду: Красные вина: сухие вина из Санджовезе, Неро-д-Авола, Негроамаро, «тельные» вина из Пино Нуара, легкие и элегантные вина из Мерло, Каберне Франа.\n\nБлюдо, к которому надо подобрать вино: Рийеты\nВино, которое подходит к этому блюду: (см. Паштеты)\n\nБлюдо, к которому надо подобрать вино: Роллы (классические)\nВино, которое подходит к этому блюду: Белые вина: тихие легкие вина с ярким и свежим вкусом: Рислинги, Мюллер Тургау, Грюнер Вельтлинер, молодые Шардоне, «старосветский» Совиньон Блан, Пино Блан, Пино Гри и т. д. Как вариант — Пиво: например, светлые японское Асахи, Кирин Ичибан, светлые чешские и немецкие лагеры.\n\nБлюдо, к которому надо подобрать вино: Рулька запеченая\nВино, которое подходит к этому блюду: Пиво: немецкая и чешская светлая классика. Как вариант — Белые вина: сухие и полусухие Рислинг, Сильванер, Мюллер-Тургау, Грюнер Вельтлинер, невыдержанное Шардоне и т. д. И не забудьте хрен, горчицу и кнедли!!!\n\nБлюдо, к которому надо подобрать вино: Рыба белая морская легковкусная (минтай, треска, сибас, палтус, зубатка и пр.)\nВино, которое подходит к этому блюду: Белые вино: тихие, легкие вина из Пино Блана, Пино Гри, Виуры, Мелон де Бургонь (Мюскаде), Алиготе, Кортезе (Гави). Утонченные вина из Шардоне (в стиле Шабли). Слегка подгазированные белые из португальского Винью Верде. Как вариант — бархатистые белые Игристые вина (стиль Блан де Блан).\n\nБлюдо, к которому надо подобрать вино: Рыба белая морская средневкусная (дорадо, камбала, морской окунь и т. д.)\nВино, которое подходит к этому блюду: Белые вино: яркие, но не выдержанные вина из Альбариньо, Шардоне, Рислинга, Совиньон Блана, Кортезе (Гави), Сильванера, Мюллер-Тургау, Грюнер Вельтлинера, полусухие Рислинги. Как вариант — Игристые вина (белые — яркие и молодые, легчайшие розовые).\n\nБлюдо, к которому надо подобрать вино: Рыба морская белая, гриль с пикантными специями (или в азиатском стиле)\nВино, которое подходит к этому блюду: Белые вино: яркие вина с несколько повышенной кислотностью — Альбариньо, Рислинги, Совиньон Бланы, сухие и полусухие Гевюрцтраминеры, Мускаты и Торронтесы. Розовые вина: тихие среднетелые сухие вина Франции, Италии, Испании, России.\n\nБлюдо, к которому надо подобрать вино: Рыба морская мощновкусная (тунец, скумбрия, сардины)\nВино, которое подходит к этому блюду: Белые вино: тихие — сухие и полусухие яркие Рислинги, выдержанные Шардоне и Вионье, Совиньон Блан из Нового Света. Розовые вина: тихие среднетелые сухие вина Франции, Италии, Испании, России. Как вариант — Красные вина: легкие вина из Пино Нуара, Нерелло Маскалезе и даже Гамэ (выдержанные Божоле Виляж).\n\nБлюдо, к которому надо подобрать вино: Рыба белая речная (судак, щука, жерех, толстолобик, карп)\nВино, которое подходит к этому блюду: Белые вино: тихие сухие вина из Совиньон Блана (Старый свет), Сильванера, Шенен Блана, Мюллер-Тургау, Грюнер Вельтлинера. «Тельные» Пино Гри, полусухие сладковатые Рислинги. Как вариант — Игристые вина (белые — яркие и молодые, легкие розовые).\n\nБлюдо, к которому надо подобрать вино: Рыба вяленая\nВино, которое подходит к этому блюду: Пиво: светлые классические лагеры и не очень плотные и мощновкусные светлые эли.\n\nБлюдо, к которому надо подобрать вино: Рыба морская копченая (скумбрия, сайра)\nВино, которое подходит к этому блюду: Пиво: мощноватые светлые и темные лагеры (Германия, Чехия). Как вариант — Белые вина: сладковатые Рислинги с высокой кислотностью.\n\nБлюдо, к которому надо подобрать вино: Рыба красная (семга, форель) на пару (отварная)\nВино, которое подходит к этому блюду: Белые вина: тихие — сухие Рислинги, Шардоне и Вионье, Совиньон Блан (Старый Свет). Розовые вина: тихие легкотелые сухие вина Франции (Прованс), Италии, Испании, России. Подойдут также легкие Оранжи.\n\nБлюдо, к которому надо подобрать вино: Рыба красная (семга, форель)  деликатесная (соленая или слега подкопченая)\nВино, которое подходит к этому блюду: Игристые вина: белое и розовое (экстра-брют, брют, сухое). Белые вина: сухое выдержанное Шардоне, Альбариньо, Пино Гри (в стиле Альто-Адидже). Полусухие белые вина со средней интенсивностью аромата и вкуса — Семильон, Рислинг, Вердехо. Розовые вина: тихие легкие и элегантные вина Прованса (Франция) или Северной Италии.\n\nБлюдо, к которому надо подобрать вино: Рыба красная (семга, форель) пикантная — гриль\nВино, которое подходит к этому блюду: Белые вина: тихие — сухие и полусухие яркие Рислинги, выдержанные Шардоне и Вионье, Совиньон Блан из Нового Света. Розовые вина: тихие среднетелые сухие вина Франции, Италии, Испании, России. Как вариант — Красные вина: легкие вина из Пино Нуара, Нерелло Маскалезе и даже Гамэ (выдержанные Божоле Виляж). Подойдут также Оранжи с весомой вкусо-ароматикой.\n\nБлюдо, к которому надо подобрать вино: Рыба — стерлядь, осетр (деликатесные, прикопченые)\nВино, которое подходит к этому блюду: Русская классика — Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Для любителей вина — настоятельно рекомендую Белые вина: тихие Шардоне (бургундского стиля), сухие и полусухие слегка сладковатые Рислинги невысокой кислотности, Пино Гри (из Альто Адидже), среднетелые и среднекислотные Альбариньо и Вердехо. Как вариант — Игристые вина (брюты и сухие — белые и легчайшие розовые).\n\nБлюдо, к которому надо подобрать вино: Рыба Тунец\nВино, которое подходит к этому блюду: В зависимости от типа приготовления (от самого нежного к зажаренному и пикантному) — Белые вина: тихие и элегантные выдержанные Шардоне и Вионье, сухие и полусухие Рислинги, Совиньон Блан из Нового Света. Розовые вина: тихие среднетелые сухие вина Франции, Италии, Испании, России. Как вариант к пикантному — Красные вина: легкие вина из Пино Нуара, Нерелло Маскалезе, Гриньолино (Италия), «округленькие» выдержанные Неббиоло и даже Гамэ (выдержанные Божоле Виляж). Подойдут также Оранжи.\n\nБлюдо, к которому надо подобрать вино: Салат Греческий\nВино, которое подходит к этому блюду: Белые вино: легкие, яркие сухие вина в первую очередь — из «родного» винограда Ассиртико, но отлично также подойдут Мюллер Тургау, Грюнер Вельтллинер, Вердехо, Шенен Блан, Совиньон Блан, Мелон де Бургонь (французские Мюскаде), вина из португальского региона Винью Верде. Как вариант — Игристые вино: белые и очень легкие розовые (брют-натур, экстра-брют, брют, сухое).\n\nБлюдо, к которому надо подобрать вино: Салат Еврейский\nВино, которое подходит к этому блюду: Белые вино: сухие выдержанные — Шардоне, Альбариньо, Пино Гри (в стиле Альто-Адидже), Семийон, полусухой сладковатый Рислинг, Вердехо. Розовые вина: тихие сухие и полусухие среднетелые вина Франции, Италии, Испании, России. Как вариант — белые и розовые молодые и недорогие тельные Игристые вина.\n\nБлюдо, к которому надо подобрать вино: Салат Капрезе\nВино, которое подходит к этому блюду: Белые вина: игристые (брют, сухие), тихие вина — с ярким и свежим вкусом: молодые Шардоне, Рислинги, Мюллер Тургау, Грюнер Вельтлинер, Виура, «старосветский» Совиньон Блан, Пино Гри, Фалангина и т. д. Как вариант — Розовые вина: тихие легкие и элегантные вина Прованса (Франция) или Северной Италии, в также попробуйте Игристые вина: легкие и элегантные белые и розовые.\n\nБлюдо, к которому надо подобрать вино: Салат Нисуаз\nВино, которое подходит к этому блюду: Розовые вина: тихие легкие и элегантные вина Прованса (Франция) или Северной Италии, в также попробуйте Игристые вина: легкие и элегантные белые и розовые.\n\nБлюдо, к которому надо подобрать вино: Салат Овощной микс (помидоры, огурцы, болгарский перец, кочанные салаты, зелень и т. д.)\nВино, которое подходит к этому блюду: Белые вина: игристые (брют, сухие), тихие вина — с ярким и свежим вкусом: молодые Шардоне, Рислинги, Мюллер Тургау, Грюнер Вельтлинер, Виура, Совиньон Блан, Гренаш Блан, Кортезе (Гави) и т. д. Как вариант — Игристые вина: (экстра-брют и брют) легкие и элегантные белые и утонченные розовые.\n\nБлюдо, к которому надо подобрать вино: Салат Оливье\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Как вариант (если ну очень хочется его есть с вином) — Белые вина: недорогие и выдержанные (бочковые) Шардоне, Вердехо, Шенен Блан, Гарганега (Соаве), полусухие и сладковатые Рислинги, а также — Игристые вина: недорогие, но тельные белые (сухое, полусухое) и аналогичные розовые. Неплохо пойдут и Оранжи.\n\nБлюдо, к которому надо подобрать вино: Салат Сельдь под шубой\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Как вариант (если ну очень хочется его есть с вином) — Белые вина: недорогие полусухие и сладковатые Рислинги, Совиньон Бланы, Розовые вина: среднетелые и «тельные»  вина Франции, Италии, Испании, России. Как вариант — белые и розовые молодые и недорогие тельные Игристые вина. Неплохо пойдут и Оранжи.\n\nБлюдо, к которому надо подобрать вино: Салат фруктовый\nВино, которое подходит к этому блюду: Белые вина: полусладкие и сладкие Мускаты и Гевюрцтраминеры, а также — Игристые вина: итальянские Москато д’Асти.\n\nБлюдо, к которому надо подобрать вино: Салат Цезарь с креветками\nВино, которое подходит к этому блюду: Белые вина: тихие вина из винограда Шардоне, Пино Гри, Шенен Блан, Кортезе (Гави), Пино Блан, Гренаш Блан, полусухой не очень кислотный Рислинг. Игристые вина: белые (экстра-брюты, брюты и сухие) или очень легкие розовые. Неплохо пойдут легкие Оранжи.\n\nБлюдо, к которому надо подобрать вино: Салат Цезарь с курицей\nВино, которое подходит к этому блюду: Белые вина: сухое и полусухое из винограда Шардоне, Вердехо, Пино Гри, Шенен Блан. Также подойдут Розовые вина: тихие легкие и элегантные вина Прованса (Франция) или Северной Италии. Неплохо пойдут легкие Оранжи (особенно если курятина жарилась на мангале).\n\nБлюдо, к которому надо подобрать вино: Салат Цезарь с лососем\nВино, которое подходит к этому блюду: Белые вина: сухое выдержанное Шардоне, Альбариньо, Пино Гри (в стиле Альто-Адидже). Полусухие белые вина со средней интенсивностью аромата и вкуса — Семильон, Рислинг, Вердехо. Розовые вина: тихие легкие и элегантные вина Прованса (Франция) или Северной Италии.\n\nБлюдо, к которому надо подобрать вино: Салаты азиатские пикантные\nВино, которое подходит к этому блюду: Белые вина: сухие и полусухие из винограда Рислинг, Мускат, Гевюрцтраминер. Розовые вина: среднетелые и «тельные»  вина Франции, Италии, Испании, России. Как вариант — розовые молодые и недорогие тельные Игристые вина. К салатам с прикопченым или просто пикантным мясом — можно выбрать легкие Красные вина: Нино Нуары, Нерелло Маскалезе, выдержанное Неббиоло. Неплохо пойдут и Оранжи.\n\nБлюдо, к которому надо подобрать вино: Сало соленое или прикопченое\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Свинина в кисло-сладком соусе\nВино, которое подходит к этому блюду: Белые вина: Рислинг, сухой Гевюрцтраминер или аналогичный Мускат\n\nБлюдо, к которому надо подобрать вино: Свинина постная, медальоны\nВино, которое подходит к этому блюду: Белые вина: тихое сухое выдержанное Шардоне, Альбариньо, Пино Гри (в стиле Альто-Адидже). Полусухие белые вина со средней интенсивностью аромата и вкуса — Семильон, Рислинг, Вердехо. Розовые вина: тихие среднетелые и «тельные» вина Франции, Италии, Испании, России.\n\nБлюдо, к которому надо подобрать вино: Свинина стейк жареный с луком\nВино, которое подходит к этому блюду: Красные вина: сухие и полусухие вина из винограда Гарнача (Гренаш), Мерло, Карменер, Менсия, «тельные» Пино Нуары (со всего света), российский Красностоп, Гамэ (Божоле Виляж).\n\nБлюдо, к которому надо подобрать вино: Сельдь с лучком (закуска)\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Для глобальных приверженцев вина — тельный, сладковатый и мощновкусный Рислинг.\n\nБлюдо, к которому надо подобрать вино: Солянка (первое блюдо)\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Спагетти Карбонара\nВино, которое подходит к этому блюду: Белые вина: сухие выдержанные вина из Шардоне и Вердехо. Розовые вина: среднетелые и «тельные» вина Франции, Италии, Испании, России. Красные вина:  выдержанное «округлое» Неббило, элегантные Пино Нуары, Нерелло Маскалезе.\n\nБлюдо, к которому надо подобрать вино: Спагетти Болоньезе\nВино, которое подходит к этому блюду: Красные вина: сухие из винограда Санджовезе, Барбера, Неро д’Авола, Негроамаро, молодые Неббило, а также международные — Каберне Совиньон, молодоватое испанское Темпранильо.\n\nБлюдо, к которому надо подобрать вино: Спаржа обжаренная\nВино, которое подходит к этому блюду: Белые вина: тихое сухое из сорта Шардоне, Грюнер Вельтлинер, Мюллер Тургау, Совиньон Блан легкие и не очень кислотный Рислинг, Пино Гри. Как вариант — Игристые вина: «тельное» и капельку сладковатое (брют, сухое, полусухое) белое.\n\nБлюдо, к которому надо подобрать вино: Стейк говяжий мраморный нежный (Филе-миньон)\nВино, которое подходит к этому блюду: Красные вина: легкие и элегантные из винограда Пино Нуар, Нерелло Маскалезе, элегантно сделанное и выдержанное Мерло. Также подойдут «округлые», выдержанные варианты из сортов Неббиоло (Барбареско), Темпранильо (Рибейра дель Дуэро), Санджовезе (Кьянти Ризерва).\n\nБлюдо, к которому надо подобрать вино: Стейк говяжий мраморный жирноватый (Рибай и пр.)\nВино, которое подходит к этому блюду: Красные вина: к прожарке Rare — выдержанные и «благородные» вина из Темпранильо (Рибейра дель Дуэро или любые от Ризервы и выше), Санджовезе (Кьянти Ризерва, Брунелло), «супертосканские» вина, Бордо Правого берега, шелковистые аргентинские Мальбеки. К прожарке Medium или WellDone — сухие и полусухие из винограда Сира (Шираз), Каберне Совиньон, «тельный» Мальбек, Примитиво, Зинфандель, Альянико (выдержанное и слегка «округлившееся»), выдержанный «ронский» ассамбляж Гренаш+Сира+Мурведр, вина Приората от 6-8 лет выдержки и выше.\n\nБлюдо, к которому надо подобрать вино: Суши, сашими\nВино, которое подходит к этому блюду: см. Роллы\n\nБлюдо, к которому надо подобрать вино: Сыры козие молодые\nВино, которое подходит к этому блюду: Белые вина: тихие сухие — Совиньон Блан (желательно старосветского стиля — Пюи Фуме, Сансер), Мелон де Бургонь (французские Мюскаде), Шардоне (стиль Шабли). Как вариант — Игристые вина:  розовые (экстра-брют, брют, сухое).\n\nБлюдо, к которому надо подобрать вино: Сыры козие выдержанные\nВино, которое подходит к этому блюду: Белые вина: сладковатый Рислинг, выдержанное «сливочное» Шардоне, классические Гевюрцтраминер или Мускат. Также — выдержанные бордосские Семийоны и «бочковой» Совиньон Блан (Сотерн).\n\nБлюдо, к которому надо подобрать вино: Сыры мягкие с белой плесенью (Бри, Камамбер)\nВино, которое подходит к этому блюду: Игристые вина: белые (брют-натюр, экстра-брют, брют), розовые элегантные (экстра-брют, брют). Также — Белые вина: тихое сухое — легкие и элегантные Шардоне, Пино Гри, Виура… Как вариант — утонченное тихое Розовые вина: элегантные вина Прованса (Франция).\n\nБлюдо, к которому надо подобрать вино: Сыры мягкие с голубой плесенью (Дор Блю и т. д.)\nВино, которое подходит к этому блюду: Белые вина: полусладкие и сладкие вина из Гевюрцтраминера и Муската, сладковатые Рислинги (Ауслезе, Бенернауслезе, Айсвайн), плотноватые и маслянистые Семийоны, выдержанные бочковые Совиньон Бланы, сладкие белые портвейны и десетные вина.\n\nБлюдо, к которому надо подобрать вино: Сыры полутвердые сладковатые (Масдам, Гауда, Эдам и т. д.)\nВино, которое подходит к этому блюду: Красные вина: тихие сухие вина — ассамбляжи Бордо, «ронские» ассамбляжи Гренаш+Сира+Мурведр, Каберне Совиньоны, вина из Санджовезе, Неро-д-Авола и Темпранильо. Как вариант — «тельные Пино Нуары», Гамэ (Божоле Виляж).\n\nБлюдо, к которому надо подобрать вино: Сыры полутвердые с голубой плесенью (Рокфор, Горгонзола и т.д.)\nВино, которое подходит к этому блюду: Красные вина: молодые танинные Мальбеки, яркие и пряные Сира (Ширазы) со всего мира, выдержанные Каберне Совиньон, Примитиво и Зинфандель, Альянико (Таурази), мощные вина Приората.\n\nБлюдо, к которому надо подобрать вино: Сыры твердые пикантные (Грюйер, Чеддер, Пекорино и т. д.)\nВино, которое подходит к этому блюду: Красные вина: «тельные» Мальбеки, «новосветские» несколько «утонченные» Сира (Ширазы), Негроамаро, Темпранильо в ярких Crianza, Санджовезе в Кьянти Классико. Также неплохо подойдут классические ассамбляжи из Бордо.\n\nБлюдо, к которому надо подобрать вино: Тапас с анчоусами\nВино, которое подходит к этому блюду: Белые вина: сладковатый Рислинг, выдержанные Альбариньо, Годелло, Вердехо. Как вариант — Игристое вина: белые (сухое, полусухое).\n\nБлюдо, к которому надо подобрать вино: Тапас с артишоками\nВино, которое подходит к этому блюду: Белые вина: тихое сухое — элегантные Шардоне, Пино Гри, Виура, Пино Блан. Как вариант — Игристые вина: белое и легчайшее розовое (попробуйте Каву — экстра-брют или брют).\n\nБлюдо, к которому надо подобрать вино: Тапас с вяленым помидором\nВино, которое подходит к этому блюду: Розовые вина: среднетелые и «тельные» вина Франции, Италии, Испании, России. Красные вина: выдержанное «округлое» Неббило, элегантные Пино Нуары, Нерелло Маскалезе.\n\nБлюдо, к которому надо подобрать вино: Тапас с хамоном, копченой или вяленой ветчиной\nВино, которое подходит к этому блюду: Красные вина: выдержанное «округлое» Неббило, Пино Нуары, Нерелло Маскалезе, Менсия, Гамэ (Божоле Виляж). Как вариант — Игристые вина: «кремовое» белое и легкое розовое (попробуйте Каву или Креманы — брют, сухое или полусухое).\n\nБлюдо, к которому надо подобрать вино: Творожный десерт с фруктами\nВино, которое подходит к этому блюду: Белые вина: выдержанное «сливочные» Шардоне, сладковатые Пино Гри, Пино Бланы, Семийоны. Если ассорти — тропических фруктов, то лучше «справятся» такие же сладковатые — Мускат, Гевюрцтраминер, Шенен Блан и Вионье.\n\nБлюдо, к которому надо подобрать вино: Тирамису\nВино, которое подходит к этому блюду: Красные вина: сладковатые и плотные варианты вин из Сиры, Мальбека, Примитиво (Зинфанделя), Пинотажа.\n\nБлюдо, к которому надо подобрать вино: Торт безе с кремом\nВино, которое подходит к этому блюду: Белые вина: легкие, но более сладкие чем торт вина из Шардоне, Семийона, Рислинга (Ауслезе, Бееренауслезе и т. д.).\n\nБлюдо, к которому надо подобрать вино: Торт бисквитный цитрусовый\nВино, которое подходит к этому блюду: Белые вина: тихое, более сладкое, чем торт — полусладкое и сладкое вино из винограда Гевюрцтраминер, Мускат, Торронтес. Крепленые вина: сладкие портвейны, мадеры, хересы. Как вариант — настоятельно рекомендуемые — Кофе или Чай.\n\nБлюдо, к которому надо подобрать вино: Торт Медовик\nВино, которое подходит к этому блюду: Белые вина: тихое, более сладкое, чем торт выдержанное вино из винограда Шардоне, Семийон. Крепленые вина: сладкие портвейны, мадеры, хересы. Как вариант -настоятельно рекомендуемый вариант — Кофе или Чай.\n\nБлюдо, к которому надо подобрать вино: Торт Морковный\nВино, которое подходит к этому блюду: Белые вина: более сладкое, чем торт выдержанное «сливочные» Шардоне, сладковатые Пино Гриджо (Альто Адидже), Пино Бланы, Семийоны. Также — белые и розовые десертные и крепленые вина.\n\nБлюдо, к которому надо подобрать вино: Торт Наполеон\nВино, которое подходит к этому блюду: Белые вина: выдержанное «сливочные» Шардоне, сладковатые Пино Гри, Пино Бланы, Семийоны. Если ассорти — тропических фруктов, то лучше «справятся» такие же сладковатые — Мускат, Гевюрцтраминер, Шенен Блан и Вионье. Также — белые и розовые десертные и крепленые вина. Как вариант — настоятельно рекомендуемые  — Кофе или Чай.\n\nБлюдо, к которому надо подобрать вино: Торт Панчо\nВино, которое подходит к этому блюду: Белые вина: легкие, но более сладкие чем торт вина из Шардоне, Семийона, Рислинга,(Ауслезе, Бееренауслезе и т. д.), Шенен Блана. Также — белые и розовые десертные и крепленые вина. Как вариант — настоятельно рекомендуемые  — Кофе или Чай.\n\nБлюдо, к которому надо подобрать вино: Торт (пирожное, фондан) шоколадный\nВино, которое подходит к этому блюду: Чай: черный и красный, травяной. Если ну очень хочется сочетать с ним спиртное — Крепленые вина: сладкие — «древний» выдержанные херес, винтажные портвейны (но на меня не ссылайтесь!). Как вариант — настоятельно рекомендуемые  — Кофе или Чай.\n\nБлюдо, к которому надо подобрать вино: Торт Эстархази\nВино, которое подходит к этому блюду: Белые вина: более сладкое, чем торт выдержанное «сливочные» Шардоне, сладковатые Пино Гриджо (Альто Адидже), Пино Бланы, Семийоны. Также — белые и розовые десертные и крепленые вина.\n\nБлюдо, к которому надо подобрать вино: Тортилья пикантная с красным мясом и овощами\nВино, которое подходит к этому блюду: Красные вина: сухие и полусухие вина из винограда Зинфандель, Примитиво, Мурведр (Монастрель), выдержанные новосветские Каберне Совиньоны.\n\nБлюдо, к которому надо подобрать вино: Тортилья с белым мясом, сливочным сыром, овощами\nВино, которое подходит к этому блюду: Розовые вина: сухое или полусухое «среднетелое» из Франции, Испании, Италии, России. «кремовое» белое и легкое розовое (попробуйте Каву или Креманы — брют, сухое или полусухое).\n\nБлюдо, к которому надо подобрать вино: Тост с лососем, яйцом «Бенедикт» и голландским соусом\nВино, которое подходит к этому блюду: Игристые вино: белое или элегантное розовое (экстра-брют, брют, сухое). Как вариант — Белые вино: сухое и элегантное с хорошей кислотностью — Грюнер Вельтлинер, Мюллер Тургау, Рислинг, Совиньон Блан из Строго света (луарские варианты — Сансер).\n\nБлюдо, к которому надо подобрать вино: Устрицы свежие\nВино, которое подходит к этому блюду: Белые вино: тихие, сухие и кислотные вина из сортов Совиньон Блан (в стиле Сансера), Мелон де Бургонь (Мюскаде), элегантные Шардоне (в стиле Пти Шабли), легкие и кислотные Рислинги, молодые «хрустящие» вина из Кортезе (Гави). Как вариант — Игристые вина: белое (лучше всего — французское шампанское (брют-натюр, экстра-брют или брют)).\n\nБлюдо, к которому надо подобрать вино: Утиная грудка деликатесная\nВино, которое подходит к этому блюду: Красные вина:  тихое выдержанное «округлое» Неббило, элегантный Пино Нуар, Нерелло Маскалезе. Как вариант — «тельные» розовые Игристые вина.\n\nБлюдо, к которому надо подобрать вино: Утка тушеная\nВино, которое подходит к этому блюду: Красные вина: тихие «плотноватые» Пино Нуары (Норвый Свет, Германия, Австрия), Менсия, Лагрейн, «ронские» варианты из ассамбляжа ГСМ (Гренаш, Сира, Мурведр).\n\nБлюдо, к которому надо подобрать вино: Утиная грудка с цитрусовым джемом\nВино, которое подходит к этому блюду: Белые вина: сладкие Рислинги (Ауслезе, Бееренауслезе и т.д.), выдержанные сладковатые Семийоны и Совиньон Бланы (Бордо, Сотерн).\n\nБлюдо, к которому надо подобрать вино: Уха\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Фрукты и ягоды — красные с ярким вкусом (вишня, клубника и т. д.)\nВино, которое подходит к этому блюду: С алкоголем — не рекомендую. Но если просто «ужас как хочется» — сочетайте такие фрукты и ягоды с плотными, яркими и слегка сладковатыми Розовыми винами. Как вариант — легкие и яркие Красные вина: фруктово-ягодные Пино Нуары (в «новосветском» стиле), Нерелло Маскалезе, Гамэ.\n\nБлюдо, к которому надо подобрать вино: Фрукты и ягоды — белые и желтые (персик, груша, манго и т. д.)\nВино, которое подходит к этому блюду: С алкоголем — не рекомендую. Но если просто «ужас как хочется» — сочетайте такие фрукты с плотными, яркими и слегка сладковатыми Совиньон Бланами (в «новосветском» стиле) и Вионье. Также — возьмите белые десертные вина.\n\nБлюдо, к которому надо подобрать вино: Холодец\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Холодные супы (свекольник, окрошка)\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка.\n\nБлюдо, к которому надо подобрать вино: Чебурек мясной\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка. Как вариант — Пиво — темное (портеры, стауты) плотное и с горчинкой, а также пикантные Красные вина: выдержанные из сортов Каберне Совиньон, Сира, Барбера, Лагрейн, российский Цимлянский Черный и Саперави (молодое и «яркое»).\n\nБлюдо, к которому надо подобрать вино: Чизкейк\nВино, которое подходит к этому блюду: Белые вина: полусладкое и сладкое из винограда Мускат, Гевюрцтраминер, Торронтес, Виорика, Мальвазия. Также подойдут выдержанные Семийоны и Совиньон Бланы (Бордо, Сотерн).\n\nБлюдо, к которому надо подобрать вино: Чипсы картофельные\nВино, которое подходит к этому блюду: Пиво: светлое и легкое (лагеры, светлые эли). Белые игристые: (экстра-брют, брют или сухое. Отлично идут сливочные Кавы и Креманы), Белые вина: тихие легкие, со средней кислотностью из Рислинга, Мюллер Тургау, Грюнера Вельтлинера, Виуры (Макабео), Шенен Блана.\n\nБлюдо, к которому надо подобрать вино: Шаурма куриная\nВино, которое подходит к этому блюду: Белые вина: сухие и полусухие сладковатые вина с заметной кислотностью — Рислинг, Совиньон Блан, Вердехо. Можно вполне взять сухой Мускат и Гевюрцтраминер. Хорошо подойдут «тельные», танинные и кислотноватые Розовые вина (Франции, Италии, Испании, России). Как вариант — Красные вина: недорогие, но довольно яркие Пино Нуары, Гарнача (Гренаш), Гамэ, Неббиоло.\n\nБлюдо, к которому надо подобрать вино: Шашлык из курицы в пряном маринаде\nВино, которое подходит к этому блюду: Розовые вина: «полнотелые» и мощновкусные вина Франции (Тавель), Испании, Италии, России. Красные вина: тихие сухие вина из сортов Пино Нуар («тельные», недорогие «новосветские» варианты, также — Германия, Австрия), Менсии, элегантные вина из Мерло, Карменера, Гарначи (Гренаша), Неббиоло, недорогие «ронские» ассамбляжи Гренаш+Сира+Мурведр.\n\nБлюдо, к которому надо подобрать вино: Шашлык из свинины, пикантный — в уксусно-луковом маринаде\nВино, которое подходит к этому блюду: Красные вина: тихие сухие и полусухие вина из сортов Санджовезе (Кьянти), Мерло, Карменера, Гарначи (Гренаша), недорогие «ронские» ассамбляжи Гренаш+Сира+Мурведр, нерогие молодые ассамбляжи из Бордо. Как вариант — «тельные» и недорогие вина из Пино Нуар («новосветские» варианты, Германия, Австрия), Менсия, Гамэ.\n\nБлюдо, к которому надо подобрать вино: Шоколад\nВино, которое подходит к этому блюду: Чай: черный, травяной, ягодно-фруктовый. Не обижайте сомелье — не сопровождайте его винами. Посмотрите — для вин есть масса действительно подходящих блюд и закусок!\n\nБлюдо, к которому надо подобрать вино: Эклер классический\nВино, которое подходит к этому блюду: Белые вина: более сладкое, чем торт выдержанное «сливочные» Шардоне, сладковатые Пино Гриджо (Альто Адидже), Пино Бланы, Семийоны. Также — белые и розовые десертные и крепленые вина.\n\nБлюдо, к которому надо подобрать вино: Яичница — глазунья\nВино, которое подходит к этому блюду: Белые вина: сухие легкие вина с невысокой кислотностью — Пино Блан, Пино Гри, Виура, Верментино, Фиано.\n\nБлюдо, к которому надо подобрать вино: Язык говяжий (закуска, с хреном)\nВино, которое подходит к этому блюду: Крепкие напитки: Самогоны (Полугар, Хлебное вино), Водка, Хреновуха, Перцовка."
              },
              {
                "fileName": "drinks_abrau.txt",
                "text": "Название напитка: Урюк Маракуйя\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Кизил и Пряности\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Ананас и Патока\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Цитрус и Мята\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Гранат и Полынь\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Малина и Базилик\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Грейпфрут и Роза\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Лаванда и Бузина\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Щавель и Манго\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 750\n\nНазвание напитка: Лимонный пирог\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 125 мл\nЦена (руб): 590\n\nНазвание напитка: Сет 3-х шотов «Сливочная тыква»\nОписание: —\nТип: Авторские коктейли\nЕдиница измерения: 150 мл\nЦена (руб): 490\n\nНазвание напитка: Мэри Пикфорд\nОписание: —\nТип: Коктейли от Абрау\nЕдиница измерения: 150 мл\nЦена (руб): 590\n\nНазвание напитка: Хэмингуэй\nОписание: —\nТип: Коктейли от Абрау\nЕдиница измерения: 100 мл\nЦена (руб): 590\n\nНазвание напитка: Мохито\nОписание: —\nТип: Коктейли от Абрау\nЕдиница измерения: 150 мл\nЦена (руб): 590\n\nНазвание напитка: Абрау Спритц\nОписание: —\nТип: Коктейли от Абрау\nЕдиница измерения: 150 мл\nЦена (руб): 590\n\nНазвание напитка: Земляника и мята\nОписание: —\nТип: Безалкогольные коктейли\nЕдиница измерения: 350 мл\nЦена (руб): 350\n\nНазвание напитка: Апельсин и гранат\nОписание: —\nТип: Безалкогольные коктейли\nЕдиница измерения: 350 мл\nЦена (руб): 350\n\nНазвание напитка: Эспрессо-тоник\nОписание: —\nТип: Безалкогольные коктейли\nЕдиница измерения: 350 мл\nЦена (руб): 390\n\nНазвание напитка: Вёрджин Спритц\nОписание: —\nТип: Безалкогольные коктейли\nЕдиница измерения: 350 мл\nЦена (руб): 520\n\nНазвание напитка: Вёрджин Джин-тоник\nОписание: —\nТип: Безалкогольные коктейли\nЕдиница измерения: 350 мл\nЦена (руб): 520\n\nНазвание напитка: Айс-ти тропик\nОписание: —\nТип: Безалкогольные коктейли\nЕдиница измерения: 350 мл\nЦена (руб): 450\n\nНазвание напитка: Апельсиновый\nОписание: свежевыжатый\nТип: Свежевыжатые соки\nЕдиница измерения: 200 мл\nЦена (руб): 450\n\nНазвание напитка: Грейпфрутовый\nОписание: свежевыжатый\nТип: Свежевыжатые соки\nЕдиница измерения: 200 мл\nЦена (руб): 450\n\nНазвание напитка: Яблочный\nОписание: свежевыжатый\nТип: Свежевыжатые соки\nЕдиница измерения: 200 мл\nЦена (руб): 450\n\nНазвание напитка: Морковный\nОписание: свежевыжатый\nТип: Свежевыжатые соки\nЕдиница измерения: 200 мл\nЦена (руб): 450\n\nНазвание напитка: Вода б/г, с/г\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 375 мл\nЦена (руб): 250\n\nНазвание напитка: Вода б/г, с/г\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 750 мл\nЦена (руб): 320\n\nНазвание напитка: Вода Виноградная\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 375 мл\nЦена (руб): 250\n\nНазвание напитка: Вода Виноградная\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 750 мл\nЦена (руб): 320\n\nНазвание напитка: Абрау Индиан Тоник\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 330 мл\nЦена (руб): 250\n\nНазвание напитка: Кока-Кола\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 330 мл\nЦена (руб): 290\n\nНазвание напитка: Сок в ассортименте\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 200 мл\nЦена (руб): 290\n\nНазвание напитка: Винонады в ассортименте\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 375 мл\nЦена (руб): 350\n\nНазвание напитка: Абрау Джуниор розовое/золотое\nОписание: —\nТип: Прохладительные напитки\nЕдиница измерения: 750 мл\nЦена (руб): 650\n\nНазвание напитка: Облепиха и Имбирь\nОписание: авторский\nТип: Авторские чаи\nЕдиница измерения: 650 мл\nЦена (руб): 590\n\nНазвание напитка: Малина и Базилик\nОписание: авторский\nТип: Авторские чаи\nЕдиница измерения: 650 мл\nЦена (руб): 590\n\nНазвание напитка: Шиповник и Апельсин\nОписание: авторский\nТип: Авторские чаи\nЕдиница измерения: 650 мл\nЦена (руб): 590\n\nНазвание напитка: Ассам\nОписание: —\nТип: Чай\nЕдиница измерения: 550 мл\nЦена (руб): 390\n\nНазвание напитка: Эрл Грей\nОписание: —\nТип: Чай\nЕдиница измерения: 550 мл\nЦена (руб): 390\n\nНазвание напитка: Жасмин\nОписание: —\nТип: Чай\nЕдиница измерения: 550 мл\nЦена (руб): 390\n\nНазвание напитка: Молочный Улун\nОписание: —\nТип: Чай\nЕдиница измерения: 550 мл\nЦена (руб): 490\n\nНазвание напитка: Пуэр\nОписание: —\nТип: Чай\nЕдиница измерения: 550 мл\nЦена (руб): 490\n\nНазвание напитка: Травяной сбор\nОписание: —\nТип: Чай\nЕдиница измерения: 550 мл\nЦена (руб): 490\n\nНазвание напитка: Эспрессо\nОписание: —\nТип: Кофе\nЕдиница измерения: 30 мл\nЦена (руб): 250\n\nНазвание напитка: Двойной эспрессо\nОписание: —\nТип: Кофе\nЕдиница измерения: 60 мл\nЦена (руб): 320\n\nНазвание напитка: Американо\nОписание: —\nТип: Кофе\nЕдиница измерения: 180 мл\nЦена (руб): 250\n\nНазвание напитка: Капучино\nОписание: —\nТип: Кофе\nЕдиница измерения: 200 мл\nЦена (руб): 350\n\nНазвание напитка: Двойной капучино\nОписание: —\nТип: Кофе\nЕдиница измерения: 270 мл\nЦена (руб): 420\n\nНазвание напитка: Флэт Уайт\nОписание: —\nТип: Кофе\nЕдиница измерения: 200 мл\nЦена (руб): 370\n\nНазвание напитка: Латте\nОписание: —\nТип: Кофе\nЕдиница измерения: 300 мл\nЦена (руб): 390\n\nНазвание напитка: Раф\nОписание: —\nТип: Кофе\nЕдиница измерения: 300 мл\nЦена (руб): 490\n\nНазвание напитка: Айс кофе Гранат-апельсин\nОписание: —\nТип: Кофе\nЕдиница измерения: 300 мл\nЦена (руб): 490\n\nНазвание напитка: Айс кофе Шоколад-мята\nОписание: —\nТип: Кофе\nЕдиница измерения: 300 мл\nЦена (руб): 490\n\nНазвание напитка: Матча Латте\nОписание: —\nТип: Кофе\nЕдиница измерения: 300 мл\nЦена (руб): 430\n\nНазвание напитка: Клубничная матча\nОписание: —\nТип: Кофе\nЕдиница измерения: 220 мл\nЦена (руб): 430\n\nНазвание напитка: Какао с маршмеллоу\nОписание: —\nТип: Кофе\nЕдиница измерения: 300 мл\nЦена (руб): 350\n\nНазвание напитка: Сидр Абрау-Дюрсо в ассортименте\nОписание: —\nТип: Сидр/Пиво\nЕдиница измерения: 750 мл\nЦена (руб): 890\n\nНазвание напитка: Клаусталер б/а\nОписание: —\nТип: Сидр/Пиво\nЕдиница измерения: 330 мл\nЦена (руб): 530\n\nНазвание напитка: Корона Экстра\nОписание: —\nТип: Сидр/Пиво\nЕдиница измерения: 330 мл\nЦена (руб): 530\n\nНазвание напитка: 7 овощей\nОписание: —\nТип: Настойки\nЕдиница измерения: 40 мл\nЦена (руб): 310\n\nНазвание напитка: Лимончелло\nОписание: —\nТип: Настойки\nЕдиница измерения: 40 мл\nЦена (руб): 310\n\nНазвание напитка: Вишня и корица\nОписание: —\nТип: Настойки\nЕдиница измерения: 40 мл\nЦена (руб): 370\n\nНазвание напитка: Черноплодка и пряности\nОписание: —\nТип: Настойки\nЕдиница измерения: 40 мл\nЦена (руб): 370\n\nНазвание напитка: Курага и урюк\nОписание: —\nТип: Настойки\nЕдиница измерения: 40 мл\nЦена (руб): 370\n\nНазвание напитка: Кокки ДопоТеатроАмаро\nОписание: —\nТип: Вермуты/Биттеры\nЕдиница измерения: 50 мл\nЦена (руб): 370\n\nНазвание напитка: Кокки Бароло Кинато\nОписание: —\nТип: Вермуты/Биттеры\nЕдиница измерения: 50 мл\nЦена (руб): 670\n\nНазвание напитка: ЛюксардоАмароАбано\nОписание: —\nТип: Вермуты/Биттеры\nЕдиница измерения: 50 мл\nЦена (руб): 420\n\nНазвание напитка: Люксардо Амаро Абано Драй\nОписание: —\nТип: Вермуты/Биттеры\nЕдиница измерения: 50 мл\nЦена (руб): 420\n\nНазвание напитка: Бранка Мента\nОписание: —\nТип: Вермуты/Биттеры\nЕдиница измерения: 50 мл\nЦена (руб): 460\n\nНазвание напитка: Апперитив Абрау Микс\nОписание: —\nТип: Вермуты/Биттеры\nЕдиница измерения: 50 мл\nЦена (руб): 350\n\nНазвание напитка: Легендарно Рон Аньехо\nОписание: —\nТип: Ром\nЕдиница измерения: 40 мл\nЦена (руб): 550\n\nНазвание напитка: Легендарно Эликсир Де Куба\nОписание: —\nТип: Ром\nЕдиница измерения: 40 мл\nЦена (руб): 490\n\nНазвание напитка: Данза дель Фуэго Бланка\nОписание: —\nТип: Ром\nЕдиница измерения: 40 мл\nЦена (руб): 350\n\nНазвание напитка: Закапа 23 года\nОписание: —\nТип: Ром\nЕдиница измерения: 40 мл\nЦена (руб): 1450\n\nНазвание напитка: Агдам\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 250\n\nНазвание напитка: Агдам Резерв белый/красный\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 370\n\nНазвание напитка: Майнарде Файн Тони Порто DO 10 лет\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 790\n\nНазвание напитка: Майнарде Файн Тони Порто DO Барау де Вилар\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 550\n\nНазвание напитка: Вальдеспино: Амонтильядо Контрабандиста\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 740\n\nНазвание напитка: Вальдеспино: Фино Иносенте\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 690\n\nНазвание напитка: Вальдеспино: Педро Хименес\nОписание: —\nТип: Портвейн/Херес\nЕдиница измерения: 50 мл\nЦена (руб): 860\n\nНазвание напитка: Торвег Сингл Молт\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 1100\n\nНазвание напитка: Акентошан Классик\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 1100\n\nНазвание напитка: Буннахавэн\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 1250\n\nНазвание напитка: Лафройг Юлет\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 1100\n\nНазвание напитка: Гленливет 12\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 950\n\nНазвание напитка: Хайланд Парк 12 лет\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 1450\n\nНазвание напитка: Дюарс Вайт Лейбл\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 520\n\nНазвание напитка: Манки Шолдер\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 850\n\nНазвание напитка: Джонни Уокер Блэк Лебл\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 780\n\nНазвание напитка: Айришмен Харвест\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 950\n\nНазвание напитка: Пэдди\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 490\n\nНазвание напитка: Джек Дениэлс\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 690\n\nНазвание напитка: Боусо\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 730\n\nНазвание напитка: Мейкерс Марк\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 950\n\nНазвание напитка: Хатозаки Пью Молт\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 950\n\nНазвание напитка: Хатозаки\nОписание: —\nТип: Виски\nЕдиница измерения: 40 мл\nЦена (руб): 750\n\nНазвание напитка: Рустер Рохо Бланко\nОписание: —\nТип: Текила\nЕдиница измерения: 40 мл\nЦена (руб): 590\n\nНазвание напитка: Рустер Рохо Репосадо\nОписание: —\nТип: Текила\nЕдиница измерения: 40 мл\nЦена (руб): 690\n\nНазвание напитка: Москато Ка Дарио Вальдолио\nОписание: —\nТип: Граппа\nЕдиница измерения: 40 мл\nЦена (руб): 560\n\nНазвание напитка: Оро Вилла Далла Ровере\nОписание: —\nТип: Граппа\nЕдиница измерения: 40 мл\nЦена (руб): 680\n\nНазвание напитка: Абрау-Дюрсо 7 трав\nОписание: —\nТип: Джин\nЕдиница измерения: 40 мл\nЦена (руб): 350\n\nНазвание напитка: Хамелеон\nОписание: —\nТип: Джин\nЕдиница измерения: 40 мл\nЦена (руб): 350\n\nНазвание напитка: Бомбей Сапфир\nОписание: —\nТип: Джин\nЕдиница измерения: 40 мл\nЦена (руб): 650\n\nНазвание напитка: Люксардо Сауэр Черри\nОписание: —\nТип: Джин\nЕдиница измерения: 40 мл\nЦена (руб): 430\n\nНазвание напитка: Маре\nОписание: —\nТип: Джин\nЕдиница измерения: 40 мл\nЦена (руб): 650\n\nНазвание напитка: Чистые росы\nОписание: —\nТип: Водка/Шнапс\nЕдиница измерения: 40 мл\nЦена (руб): 530\n\nНазвание напитка: Мамонт\nОписание: —\nТип: Водка/Шнапс\nЕдиница измерения: 40 мл\nЦена (руб): 420\n\nНазвание напитка: 7 злаков\nОписание: —\nТип: Водка/Шнапс\nЕдиница измерения: 40 мл\nЦена (руб): 310\n\nНазвание напитка: 7 лоз\nОписание: —\nТип: Водка/Шнапс\nЕдиница измерения: 40 мл\nЦена (руб): 310\n\nНазвание напитка: Шнапс в ассортименте\nОписание: —\nТип: Водка/Шнапс\nЕдиница измерения: 40 мл\nЦена (руб): 390\n\nНазвание напитка: Абрау-Дюрсо 1870 КВВК\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 450\n\nНазвание напитка: Абрау-Дюрсо 1870 КВ\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 390\n\nНазвание напитка: Абрау 5 лет\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 340\n\nНазвание напитка: Абрау 3 года\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 280\n\nНазвание напитка: Фрапен ВСОП\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 1450\n\nНазвание напитка: Монне ВС\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 650\n\nНазвание напитка: Маркиз де Мондидье ВС\nОписание: —\nТип: Коньяк/Кальвадос\nЕдиница измерения: 40 мл\nЦена (руб): 600"
              },
              {
                "fileName": "food_abrau.txt",
                "text": "Название блюда: Морской еж\nОписание: Россия, Мурманск\nТип: СВЕЖИЕ МОРЕПРОДУКТЫ\nЕдиница измерения: шт\nЦена (руб): 390\n\nНазвание блюда: Устрица Императорская\nОписание: Россия, Дальний Восток\nТип: СВЕЖИЕ МОРЕПРОДУКТЫ\nЕдиница измерения: шт\nЦена (руб): 450\n\nНазвание блюда: Устрица Хасанская\nОписание: Россия, Дальний Восток\nТип: СВЕЖИЕ МОРЕПРОДУКТЫ\nЕдиница измерения: шт\nЦена (руб): 450\n\nНазвание блюда: Устрица Розовая Джоли\nОписание: Намибия\nТип: СВЕЖИЕ МОРЕПРОДУКТЫ\nЕдиница измерения: шт\nЦена (руб): 700\n\nНазвание блюда: Форшмак из черноморской сельди\nОписание: -\nТип: ЗАКУСКИ\nЕдиница измерения: 130/40 гр\nЦена (руб): 550\n\nНазвание блюда: Эскарго с чесноком и зеленью в соусе шампань с хрустящими гренками\nОписание: -\nТип: ЗАКУСКИ\nЕдиница измерения: 200 гр\nЦена (руб): 1280\n\nНазвание блюда: Мидии 4 сыра\nОписание: -\nТип: ЗАКУСКИ\nЕдиница измерения: 350 гр\nЦена (руб): 1100\n\nНазвание блюда: Эмпанада с мясом рапана\nОписание: со сливочным цыпленком и грибами\nТип: ЗАКУСКИ\nЕдиница измерения: 150/60 гр\nЦена (руб): 780\n\nНазвание блюда: Тартар из говядины с муссом из сыра пармезан\nОписание: Подаем с картофелем фри\nТип: ЗАКУСКИ\nЕдиница измерения: 190 гр\nЦена (руб): 910\n\nНазвание блюда: Карпаччо из мурманского гребешка\nОписание: с соусом Понзу\nТип: ЗАКУСКИ\nЕдиница измерения: 85 гр\nЦена (руб): 910\n\nНазвание блюда: Трио паштетов\nОписание: Индейка, печень цыпленка, цыпленок\nТип: К ВИНУ\nЕдиница измерения: 250 гр\nЦена (руб): 850\n\nНазвание блюда: Ассорти ОЛИВОК\nОписание: -\nТип: К ВИНУ\nЕдиница измерения: 100 гр\nЦена (руб): 650\n\nНазвание блюда: Брускетта с форелью холодного копчения, авокадо и икрой летучей рыбы\nОписание: -\nТип: К ВИНУ\nЕдиница измерения: 170 гр\nЦена (руб): 890\n\nНазвание блюда: Брускетта с томатами, сыром страчателла и хамоном из утки\nОписание: -\nТип: К ВИНУ\nЕдиница измерения: 145 гр\nЦена (руб): 720\n\nНазвание блюда: Запеченный Бри с карамельным миндалем\nОписание: -\nТип: К ВИНУ\nЕдиница измерения: 210 гр\nЦена (руб): 1150\n\nНазвание блюда: Антипасти\nОписание: Коппа, хамон из утки; парма, оливки\nТип: К ВИНУ\nЕдиница измерения: 135/30 гр\nЦена (руб): 1350\n\nНазвание блюда: Магаданские креветки на льду\nОписание: Подаем с кисло-сладким соусом и медово-имбирным айоли\nТип: К ВИНУ\nЕдиница измерения: 295 гр\nЦена (руб): 1550\n\nНазвание блюда: Крудо из рыб и морепродуктов\nОписание: -\nТип: К ВИНУ\nЕдиница измерения: 160 гр\nЦена (руб): 1650\n\nНазвание блюда: Хлебная корзина\nОписание: Подаем с муссом из сыра фета\nТип: К ВИНУ\nЕдиница измерения: 160 гр\nЦена (руб): 290\n\nНазвание блюда: Хлебная корзина 1/2\nОписание: -\nТип: К ВИНУ\nЕдиница измерения: 110 гр\nЦена (руб): 190\n\nНазвание блюда: Теплый салат с морепродуктами под цитрусово-трюфельной заправкой\nОписание: -\nТип: САЛАТЫ\nЕдиница измерения: 210 гр\nЦена (руб): 1050\n\nНазвание блюда: Свежие овощи с душистым маслом и кубанской семечкой\nОписание: -\nТип: САЛАТЫ\nЕдиница измерения: 215 гр\nЦена (руб): 550\n\nНазвание блюда: Салат с копченой уткой, хрустящими вешенками и вишневым соусом\nОписание: -\nТип: САЛАТЫ\nЕдиница измерения: 165 гр\nЦена (руб): 890\n\nНазвание блюда: Хрустящие баклажаны с томатами в остро-сладком соусе\nОписание: -\nТип: САЛАТЫ\nЕдиница измерения: 240 гр\nЦена (руб): 620\n\nНазвание блюда: Оливье с креветками и подкопченой форелью\nОписание: -\nТип: САЛАТЫ\nЕдиница измерения: 225 гр\nЦена (руб): 880\n\nНазвание блюда: Кубанский борщ с томленой говядиной\nОписание: -\nТип: СУПЫ\nЕдиница измерения: 300/50/30 гр\nЦена (руб): 650\n\nНазвание блюда: Крем-суп из молодого зеленого горошка с чипсами из бекона\nОписание: -\nТип: СУПЫ\nЕдиница измерения: 270 гр\nЦена (руб): 590\n\nНазвание блюда: Черное ризотто с лангустинами\nОписание: -\nТип: ПАСТА/РИЗОТТО\nЕдиница измерения: 335 гр\nЦена (руб): 950\n\nНазвание блюда: Лингвини с лесными грибами и копченой уткой\nОписание: -\nТип: ПАСТА/РИЗОТТО\nЕдиница измерения: 260 гр\nЦена (руб): 920\n\nНазвание блюда: Фетучини с рапаном и лангустинами в сливочном соусе\nОписание: -\nТип: ПАСТА/РИЗОТТО\nЕдиница измерения: 260 гр\nЦена (руб): 950\n\nНазвание блюда: Утиная ножка со сливочным булгуром и лесными грибами\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 390 гр\nЦена (руб): 1150\n\nНазвание блюда: Голень индейки в пряных специях\nОписание: Подаем с карамелизированной морковью\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 385 гр\nЦена (руб): 950\n\nНазвание блюда: Язык говяжий с картофельным пюре и лесными грибами\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 275 гр\nЦена (руб): 1050\n\nНазвание блюда: Телячья щека в винном соусе с картофельным пюре\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 350 гр\nЦена (руб): 1350\n\nНазвание блюда: Стейк из говяжьей вырезки с печеным картофелем и перечным соусом\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 330 гр\nЦена (руб): 1550\n\nНазвание блюда: Бифштекс из мраморной говядины с горячим соусом чеддер и яйцом пашот\nОписание: Подаем с картофелем фри\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 230 гр\nЦена (руб): 990\n\nНазвание блюда: Черноморская барабуля с соленым лимоном\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 200 гр\nЦена (руб): 1350\n\nНазвание блюда: Филе скумбрии в пряной глазури на кунжутном рисе басмати\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 260 гр\nЦена (руб): 780\n\nНазвание блюда: Котлеты из щуки с пюре из зеленого горошка и мяты\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 250 гр\nЦена (руб): 920\n\nНазвание блюда: Фиш&Чипс из трески с хрустящим картофелем\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 270 гр\nЦена (руб): 850\n\nНазвание блюда: Строганов из мяса рапана с картофельным пюре\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 270 гр\nЦена (руб): 950\n\nНазвание блюда: Стейк из черноморской форели с брокколи\nОписание: -\nТип: ГОРЯЧИЕ БЛЮДА\nЕдиница измерения: 200 гр\nЦена (руб): 1100\n\nНазвание блюда: Плато сыров\nОписание: -\nТип: ДЕСЕРТЫ\nЕдиница измерения: 165 гр\nЦена (руб): 1280\n\nНазвание блюда: Ассорти трюфелей\nОписание: -\nТип: ДЕСЕРТЫ\nЕдиница измерения: 60 гр\nЦена (руб): 550\n\nНазвание блюда: Медовик с томленой грушей\nОписание: Подаем с шариком пломбира\nТип: ДЕСЕРТЫ\nЕдиница измерения: 100/60 гр\nЦена (руб): 650\n\nНазвание блюда: Ломаный мильфей с ягодным соусом\nОписание: -\nТип: ДЕСЕРТЫ\nЕдиница измерения: 150 гр\nЦена (руб): 680\n\nНазвание блюда: Парфе «1870»\nОписание: -\nТип: ДЕСЕРТЫ\nЕдиница измерения: 160 гр\nЦена (руб): 750\n\nНазвание блюда: Мороженое/сорбет в ассортименте\nОписание: -\nТип: ДЕСЕРТЫ\nЕдиница измерения: 60 гр\nЦена (руб): 290\n\nНазвание блюда: Желе из игристого с сезонными ягодами\nОписание: к игристому вину\nТип: ДЕСЕРТЫ\nЕдиница измерения: 155 гр\nЦена (руб): 590"
              },
              {
                "fileName": "wine_abrau.txt",
                "text": "Название напитка: Абрау Дюрсо Империал\nОписание: Брют Винтаж/Брют Розе (розовое вино)\nТип: Игристое вино\nЕдиница измерения: бокал\nЦена (руб): 690\n\nНазвание напитка: Абрау Дюрсо Brut d'Or\nОписание: Блан де Блан/Блан де Ну ар (белое вино)\nТип: Игристое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Абрау Дюрсо Виктор Дравиньи\nОписание: Экстра брют/Брют/Брют Розе/Полусухое/Полусладкое белое/Полусладкое красное\nТип: Игристое вино\nЕдиница измерения: бокал\nЦена (руб): 380\n\nНазвание напитка: Абрау Дюрсо Резерв\nОписание: Брют белое/Брют розе\nТип: Игристое вино\nЕдиница измерения: бокал\nЦена (руб): 350\n\nНазвание напитка: Бруни Просекко ДОК Венето\nОписание: глера (белое вино)\nТип: Игристое вино\nЕдиница измерения: бокал\nЦена (руб): 550\n\nНазвание напитка: Абрау Дюрсо Шардоне\nОписание: сухое (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Абрау Дюрсо Рислинг\nОписание: сухое (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Абрау Дюрсо Каберне Совиньон\nОписание: сухое (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Абрау Дюрсо Пино Нуар\nОписание: сухое (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Абрау Дюрсо Эстейт Оранж\nОписание: сухое, цитронный магарача (оранжевое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: AZ Abrau Баяншира\nОписание: сухое (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 450\n\nНазвание напитка: AZ Abrau Мадраса\nОписание: сухое (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 450\n\nНазвание напитка: Ведерниковъ Сибирьковый\nОписание: сухое (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: Ведерниковъ Красностоп Золотовский\nОписание: сухое (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Ведерниковъ Красностоп розе\nОписание: сухое (розовое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: Ведерниковъ Губернаторское розовое\nОписание: сухое, цимлянский черный/красностоп золотовский/каберне совиньон (розовое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: Усадьба Дивноморское Белое пламя\nОписание: сухое, вионъе/верментино (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Усадьба Дивноморское Вечерница\nОписание: сухое, каберне совиньон/сира (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Раевское Парфюм Бланш\nОписание: сухое, вионье/траминер розовый/пино гри/совиньон блан/алиготе/мускат желтый (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 550\n\nНазвание напитка: Раевское Парфюм Совиньон блан\nОписание: сухое (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 550\n\nНазвание напитка: Узунов Раш\nОписание: сухое, рислинг/алиготе/шардоне (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 690\n\nНазвание напитка: Узунов Алиготе\nОписание: сухое, алиготе (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 690\n\nНазвание напитка: Узунов Краса\nОписание: сухое, каберне фрак/каберне совиньон/саперави (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 690\n\nНазвание напитка: Узунов Бунт\nОписание: сухое, цитронный магарача (оранжевое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 690\n\nНазвание напитка: Шато де Талю Блан Небо\nОписание: сухое, семильон/совиньон блан (белое вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Шато де Талю Мерло Небо\nОписание: сухое (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Шато де Талю Шираз Небо\nОписание: сухое, сира (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Шато де Талю Клере Небо\nОписание: сухое, сира (красное вино)\nТип: Тихое вино\nЕдиница измерения: бокал\nЦена (руб): 590\n\nНазвание напитка: Криница Арома\nОписание: сладкое, пти мансан (белое вино)\nТип: Тихое вино\nЕдиница измерения: 100 мл\nЦена (руб): 950\n\nНазвание напитка: Чело Зеро\nОписание: полусладкое, гарганега, треббьяно (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: Ханс Баер Рислинг\nОписание: полусухое, рислинг (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: Ханс Баер Пино Нуар\nОписание: полусухое, пино нуар (красное вино)\nТип: Безалкогольное вино\nЕдиница измерения: бокал\nЦена (руб): 490\n\nНазвание напитка: Абрау-Дюрсо Империал Брют Винтаж\nОписание: шардоне/рислинг/пино ну ар (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3500\n\nНазвание напитка: Абрау-Дюрсо Империал Брют Розе\nОписание: пино нуар (розовое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3500\n\nНазвание напитка: Абрау-Дюрсо Brut d'Or Блан де Блан\nОписание: шардоне (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2590\n\nНазвание напитка: Абрау-Дюрсо Brut d'Or Блан де Нуар\nОписание: пино нуар (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2590\n\nНазвание напитка: Абрау-Дюрсо Brut d'Or Рислинг\nОписание: рислинг (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2590\n\nНазвание напитка: Абрау-Дюрсо Brut d'Or Розе\nОписание: пино нуар (розовое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2590\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Экстра брют\nОписание: шардоне/рислинг (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1690\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Брют\nОписание: шардоне/рислинг/пино блан/унъи блан (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1690\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Брют Розе\nОписание: пино ну ар/пино фрак/каберне совинъон/мерло (розовое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1690\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Полусухое\nОписание: шардоне/рислинг/унъи блан (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1690\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Полусладкое Белое\nОписание: шардоне /рислинг/унъи блан/ первенец магарача (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1690\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Полусладкое Красное\nОписание: каберне совинъон (красное вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1690\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Брют\nОписание: шардоне/рислинг/пино блан/ унъи блан (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1150\n\nНазвание напитка: Абрау-Дюрсо Виктор Дравиньи Брют Розе\nОписание: пино ну ар/пино фран/каберне совинъон/мерло (розовое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 375 мл\nЦена (руб): 1150\n\nНазвание напитка: Раевское Парфюм Бланш\nОписание: сухое, вионъе/траминер розовый/пино гри/совинъон блан/алиготе/мускат желтый (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1900\n\nНазвание напитка: Раевское Парфюм Совиньон блан\nОписание: сухое, совинъон блан (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 1900\n\nНазвание напитка: Раевское Ренессанс Вионье\nОписание: сухое, вионъе (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2700\n\nНазвание напитка: Раевское Генезис Белое\nОписание: сухое, рислинг/шардоне (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3700\n\nНазвание напитка: Раевское Ренессанс Карменер\nОписание: сухое, карменер (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3400\n\nНазвание напитка: Раевское Генезис Красное\nОписание: сухое, каберне совинъон/пти вердо/карменер/темпранилъо/одесский черный (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4200\n\nНазвание напитка: Узунов Алиготе\nОписание: сухое, алиготе (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3900\n\nНазвание напитка: Узунов Раш\nОписание: сухое, рислинг/алиготе/шардоне (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3900\n\nНазвание напитка: Узунов Краса\nОписание: сухое, каберне фран/каберне совиньон/саперави (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3900\n\nНазвание напитка: Узунов Бунт\nОписание: сухое, цитронный магарача (оранжевое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3900\n\nНазвание напитка: Усадьба Маркотх Кюве Блан\nОписание: сухое, совинъон блан/вионъе/шардоне/алиготе (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3700\n\nНазвание напитка: Усадьба Маркотх Мальвазия\nОписание: сухое, малъвазия (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4100\n\nНазвание напитка: Усадьба Дивноморское Пино Блан\nОписание: экстра брют, пино блан (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 6500\n\nНазвание напитка: Усадьба Дивноморское Блан де Блан\nОписание: экстра брют, шардоне (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 6500\n\nНазвание напитка: Усадьба Дивноморское Блан де Нуар\nОписание: экстра брют, пино нуар (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 6500\n\nНазвание напитка: Усадьба Дивноморское Гранд Кюве\nОписание: брют, шардоне/пино нуар (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 6500\n\nНазвание напитка: Усадьба Дивноморское Совиньон блан\nОписание: сухое, совинъон блан (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2700\n\nНазвание напитка: Усадьба Дивноморское Рислинг Семейный резерв\nОписание: сухое, рислинг (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5700\n\nНазвание напитка: Усадьба Дивноморское Пино Нуар\nОписание: сухое, пино нуар (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3200\n\nНазвание напитка: Усадьба Дивноморское Герцъ\nОписание: сухое, каберне совинъон/красностоп золотовский/мерло/каберне фран (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3200\n\nНазвание напитка: Усадьба Дивноморское Каберне Совиньон Семейный резерв\nОписание: сухое, каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5900\n\nНазвание напитка: Шато де Талю Мерло Небо\nОписание: сухое, мерло (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2650\n\nНазвание напитка: Шато де Талю Шираз Небо\nОписание: сухое, сира (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2650\n\nНазвание напитка: Шато де Талю Руж Небо\nОписание: сухое, каберне совинъон, мерло, каберне фран, сира (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2650\n\nНазвание напитка: Шато де Талю Совиньон Блан Резерв\nОписание: сухое, совиньон блан (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4200\n\nНазвание напитка: Шато де Талю Каберне Фран Резерв\nОписание: сухое, каберне фран (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4500\n\nНазвание напитка: Шато де Талю Мерло Резерв\nОписание: сухое, мерло (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4500\n\nНазвание напитка: Гай-Кодзор Мускат\nОписание: сухое, мускат (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Гай-Кодзор Вионье\nОписание: сухое, вионъе (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Гай-Кодзор Розе\nОписание: сухое, гренаж/сира/сенсо (розовое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Винодельня Ведерниковъ Красностоп Золотовский\nОписание: сухое, красностоп золотовский (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2290\n\nНазвание напитка: Винодельня Ведерниковъ Цимлянский черный\nОписание: сухое, цимлянский черный (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2900\n\nНазвание напитка: Винодельня Ведерниковъ Каберне Совиньон\nОписание: сухое, каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2900\n\nНазвание напитка: Винодельня Ведерниковъ Губернаторский Резерв\nОписание: сухое, красностоп золотовский/цимлянский черный/каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2900\n\nНазвание напитка: Винодельня Ведерниковъ Красностоп Золотовский в дубе\nОписание: сухое, красностоп золотовский (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5200\n\nНазвание напитка: Винодельня Ведерниковъ Фантом 50/50\nОписание: сухое, красностоп золотовский/каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 12500\n\nНазвание напитка: Скалистый берег Шардоне\nОписание: сухое, шардоне (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3700\n\nНазвание напитка: Скалистый берег Красная книга Глава 2\nОписание: сухое, мерло/каберне фран/каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4100\n\nНазвание напитка: Домен Липко PENPALO Каберне Совиньон\nОписание: сухое, каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5200\n\nНазвание напитка: Ессе Восточный склон\nОписание: сухое, вионъе/рислинг/совинъон блан/траминер (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5200\n\nНазвание напитка: Ессе Гевюрцтраминер\nОписание: сухое, гевюрцтраминер (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5200\n\nНазвание напитка: Ессе Пино Блан\nОписание: сухое, пино блан (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5200\n\nНазвание напитка: Ессе Западный склон\nОписание: сухое, каберне совинъон/мерло (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5900\n\nНазвание напитка: Ессе Марселан\nОписание: сухое, марселан (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5900\n\nНазвание напитка: Ессе Сира\nОписание: сухое, сира (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5900\n\nНазвание напитка: Усадьба Дивноморское Розе\nОписание: сухое, сира/марселан/вионъе (розовое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 4900\n\nНазвание напитка: Усадьба Дивноморское Пино Гри\nОписание: сухое, пино гри (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3200\n\nНазвание напитка: Усадьба Дивноморское Природное Полусладкое белое\nОписание: пино гри, рислинг (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3200\n\nНазвание напитка: Усадьба Дивноморское Природно Полусладкое красное\nОписание: полусладкое, мерло (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3200\n\nНазвание напитка: Усадьба Дивноморское МаМа\nОписание: сухое, марселан/малъбек (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3200\n\nНазвание напитка: Усадьба Дивноморское Ридикюль\nОписание: сухое, сира/вионъе (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3500\n\nНазвание напитка: Усадьба Дивноморское Мускат Оранж\nОписание: сухое, мускат (оранжевое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2900\n\nНазвание напитка: Криница Азюр\nОписание: сухое, рислинг/вионъе/гевюрцтраминер/шардоне/мускат/русая (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3400\n\nНазвание напитка: Криница Эстер\nОписание: сухое, мускат (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3400\n\nНазвание напитка: Криница Вионье\nОписание: сухое, вионъе (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5700\n\nНазвание напитка: Криница Коллин\nОписание: сухое, сира/марселан/мурведр (красное вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5900\n\nНазвание напитка: Криница Риваж\nОписание: сухое, каберне совинъон/каберне фран/сира (красное вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 5900\n\nНазвание напитка: Чело Зеро\nОписание: полусладкое, гарганега, треббъяно (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Ханс Баер Рислинг\nОписание: полусухое, рислинг (белое вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Ханс Баер Пино Нуар\nОписание: полусухое, пино нуар (красное вино)\nТип: Безалкогольное вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Абрау-Дюрсо Шардоне Абрау Дюрсо, ЗНМП\nОписание: сухое, шардоне (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2700\n\nНазвание напитка: Абрау-Дюрсо Рислинг Абрау Дюрсо, ЗНМП\nОписание: сухое, рислинг (белое вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 3700\n\nНазвание напитка: Абрау-Дюрсо Каберне Совиньон Абрау Дюрсо, ЗНМП\nОписание: сухое, каберне совинъон (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2100\n\nНазвание напитка: Абрау-Дюрсо Пино Нуар Абрау Дюрсо, ЗНМП\nОписание: сухое, пино нуар (красное вино)\nТип: Тихое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2550\n\nНазвание напитка: Бруни Просекко ДОК Венето\nОписание: глера (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2200\n\nНазвание напитка: Пассапарола Просекко ДОК Фриули\nОписание: глера (белое вино)\nТип: Игристое вино\nЕдиница измерения: бутылка 750 мл\nЦена (руб): 2200"
              }
            ],
            "namespace": "default"
          },
          "webhookUrl": "http://localhost:5678/webhook/pinecone-upload",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Prepare Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch": {
      "main": [
        [
          {
            "node": "Get Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embeddings": {
      "main": [
        [
          {
            "node": "Format for Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Pinecone": {
      "main": [
        [
          {
            "node": "Upsert to Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Pinecone": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e3b2dde7-b1db-499f-a72a-4923dcb092e8",
  "meta": {
    "instanceId": "a74eafc2b34054b4dfc03b907435b8c31677354499354fe7f62965cba4ed4c51"
  },
  "id": "PRXLsQ-Q0yz8PD5aVqs6s",
  "tags": []
}